#home .btn-sm {
    padding: 4px 10px 4.5px
}
#chart_table li {
    margin-bottom: 15px;
    font-size: 15px
}
#chart_table li .badge {
    font-size: 15px!important;
    height: 22px;
    padding: 0 8px;
    line-height: 22px
}
.brdr-listss li {
    display: inline-block;
    width: 32%;
    margin: 8px 0
}
/*=====================*/
.scheduler_default_tree_image_no_children,
.scheduler_default_corner > div:last-child,
.scheduler_default_divider_horizontal,
.scheduler_default_divider {
    display: none
}
.scheduler_default_columnheader_cell {
    display: block!important;
    overflow: visible!important
}
.scheduler_default_columnheader_cell_inner {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: -7px;
    text-transform: uppercase;
    color: #626666
}
.bok {
    z-index: 1;
    position: absolute;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    top: 15px;
    left: 37px;
    text-transform: uppercase;
    font-family: 'Exo 2', sans-serif;
    color: #626666
}
.scheduler_default_corner {
    color: #FFF!important;
    background: #33D0E1!important;
    height: 61px!important
}
.snap .bok {
    font-size: 16px;
    top: 3px
}
.snap .scheduler_default_columnheader_cell_inner {
    top: -4px
}
.scheduler_default_main > div:first-child,
.scheduler_default_main > div:first-child > div ,
.scheduler_default_rowheader_scroll div{
    width: 165px!important;
	box-sizing:border-box;
}
.scheduler_default_main > div:first-child .scheduler_default_rowheader_inner > div, .scheduler_default_main > div:first-child .scheduler_default_rowheader_inner > div > div {
    width: auto!important;
    height: 100%;
    box-sizing: border-box;	
	padding:0 !important;
}
.scheduler_default_tree_image_no_children ~ div, .scheduler_default_tree_image_no_children ~ div div{
	margin:0 !important;
}
.scheduler_default_tree_image_no_children ~ div div{
	overflow:hidden;
	color:#0f0f0f;
	font-weight: 500;
}
.scheduler_default_rowheader_scroll .ot-av{
	float:left;
	width:30% !important;
}
.ot-av span{
	display:block;
	text-align:center;
	text-transform:uppercase;
}
.ot-av span{
	color:#d8d8d8;
	line-height:22px;
	background:#f5f5f5;
}
.ot-av span.ota.active{
	background:#33cccc;
	color:#ffffff;
}
.ot-av span small{
	width:50%;
	display:inline-block;
	line-height: 22px;
}
.ot-av span .ava.active{
	background:#339966;
	color:#ffffff;
}
.ot-av span .ac.active{
	background:#7380c3;
	color:#ffffff;
}
.scheduler_default_rowheader_scroll .room-noo{
	float:left;
	font-size:25px;
	text-align:center;
	width:50% !important;
	font-size:22px;
	font-family: 'Exo 2';
	line-height:26px;
	background:#f2f2f2;
}
.scheduler_default_rowheader_scroll .room-noo span{
	font-size:14px;
	display:block;
	line-height:19px;
	color:#0f0f0f;
	font-weight:normal;
}
.scheduler_default_rowheader_scroll .scheduler_default_rowheader_inner:hover .room-noo span, .scheduler_default_rowheader_scroll .scheduler_default_rowheader_inner:hover .room-noo{
	color:#00BCD4 !important;
}
.scheduler_default_rowheader_scroll .bed{
	float:left;
	width:20% !important;
	color:#0f0f0f !important;
	background:#eeeeee;
}
.bed span{
	display:block;
	text-align:center;
	line-height:24px;
}
.scheduler_default_rowheader_inner {
    z-index: 2;
    padding-bottom: 3px!important
}
.scheduler_default_main > div:first-child .scheduler_default_rowheader_inner .scheduler_default_tree_image_collapse {
    width: 10px!important
}
.scheduler_default_main > div:first-child .scheduler_default_rowheader_inner .scheduler_default_tree_image_expand {
    width: 10px!important
}
.scheduler_default_main > div:first-child .scheduler_default_rowheader_inner > .scheduler_default_tree_image_collapse ~ div {
	padding:1px !important;
}
.scheduler_default_main > div:nth-child(3) {
    margin-left: 165px!important;
    height: 100%
}
.scheduler_default_cellparent {
    background: #a6a6a6!important;
    -webkit-transition: .7s;
    transition: .5s
}
.scheduler_default_timeheadercol_inner ~ div {
    background: -webkit-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    opacity: .2!important
}
.scheduler_default_timeheadercol_inner ~ .scheduler_default_timeheader_float {
    background: #ededed!important;
    opacity: 1!important
}
.scheduler_default_matrix_vertical_line {
    width: 0!important;
    border-left: 1px outset #F1F1F1
}
.scheduler_default_matrix_horizontal_line,
.scheduler_default_resourcedivider {
    height: 0!important;
    border-top: 1px outset #F1F1F1;
}
.scheduler_default_rowheader > .scheduler_default_crosshair_left {
    background: -webkit-linear-gradient(-45deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    background: linear-gradient(135deg, rgba(210, 255, 82, 1) 0%, rgba(145, 232, 66, 1) 100%);
    opacity: .5!important;
	
}
.scheduler_default_rowheader > div.scheduler_default_resourcedivider {
    background: none!important
}
.scheduler_default_main {
    overflow: hidden
}
.scheduler_default_timeheadergroup_inner,
.scheduler_default_timeheadercol_inner {
    border: none!important
}
.scheduler_default_timeheadergroup_inner,
.scheduler_default_timeheadergroup_inner ~ div .scheduler_default_timeheader_float_inner {
    font-size: 16px
}
.scheduler_default_timeheadergroup .scheduler_default_timeheadergroup_inner ~ div .scheduler_default_timeheader_float_inner.scheduler_default_timeheader_float_inner {
    font-size: 16px
}
.scheduler_default_main {
    border: none!important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2)
}
.scheduler_default_event_inner {
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.870588);
    border: none!important
}
.scheduler_default_event_inner span {
    font-size: 10px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.870588)
}
.scheduler_default_event_inner i.fa-minus-circle,
.scheduler_default_event_inner i.fa-cutlery {
    color: #666;
    font-size: 12px;
    margin-left: 3px
}
.scheduler_default_event > div:nth-child(3) {
    bottom: 5px!important
}
.scheduler_default_resourcedivider {
    display: none!important
}
.scheduler_default_cellparent {
    background: #e0e0e0!important
}
.scheduler_default_event {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.scheduler_default_event:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.26);
    z-index: 1
}
body > div:nth-child(2) {
    z-index: 2
}
.bubble_default_main {
    width: 250px;
    z-index: 10000
}
.bubble_default_main_inner {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px
}
.bubble_default_main_inner strong {
    color: #2B3643;
    text-transform: uppercase
}
.bubble_default_main_inner strong.nah {
    color: #FD3D00
}
.bubble_default_main_inner i {
    margin-left: 5px
}
.scheduler_default_rowheader_inner:hover div:nth-child(2) div {
    color: #00BCD4;
}
#dp .scheduler_default_selected .scheduler_default_event_inner {
    background-color: #aaa!important;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent))!important;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px!important;
}
.navigator_default_main{
	border: 1px solid #efefef;
    background-color: #f5f4f5;
    box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22)!important;
    padding: 5px;
}
.navigator_default_main div{
	border:none !important;
}
.navigator_default_day , .navigator_default_dayheader{
    border: none;
    border-radius: 4px;
    color: #000;
    font-weight: 300 !important;
}
.navigator_default_day:hover{
	background:#eeeeee;
}
.navigator_default_day.navigator_default_select .navigator_default_daybox{
	background:#607D8B;	
	opacity: 1;
}
.navigator_default_day.navigator_default_select .navigator_default_cell_text{
	color:#000000;
}
.project-img{
	width:14%;
	float:left;
}
.project-img img{
	height:52px;
}
.project-information{
	width:80%;
	float:right;
}
.project-information span{
	display:block;	
	font-size:12px;
	color:#008F6C;
}
.project-information span + span{
	margin-top:5px;
}
.project-information span strong{
	font-weight: 700;
    color: #2B3643;	
}
.project-information span i{
	color: #2B3643;
}
.typeahead__result ul{
	max-height:350px;
	overflow-y:auto;
}
.project-information span.pro-name{
	text-transform:uppercase;
	color:#26A1AB;
}
/*=================================*/
.modal_default_main {
    border: none!important;
	background-color: transparent!important;
}
#extra_service tbody tr td:first-child {
    position: relative
}
#suggesstion-box {
    position: absolute;
    top: 100%;
    left: 8px;
    width: 93%
}
#suggesstion-box ul {
    background: #ebebeb
}
#suggesstion-box ul li {
    padding: 2px 10px;
    cursor: pointer
}
#suggesstion-box ul li:hover {
    background: #e0dddd
}
.bl-allroom .btn-group {
    margin-bottom: 3px
}
.color-wrapper {
    position: relative;
    width: 250px;
    margin: 20px auto
}
.color-wrapper p {
    margin-bottom: 5px
}
.color-picker {
    width: 130px;
    background: #F3F3F3;
    height: 103px;
    padding: 5px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px 1px #DDD;
    position: absolute;
    top: -75px;
    left: 2px;
    z-index: 5
}
.color-holder,
.color-holder2 {
    background: #fff;
    cursor: pointer;
    border: 1px solid #AAA;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 19px;
    top: 20px;
    margin-top: 9px
}
.color-picker .color-item {
    cursor: pointer;
    width: 10px;
    height: 10px;
    list-style-type: none;
    float: left;
    margin: 2px;
    border: 1px solid #DDD
}
.color-picker .color-item:hover {
    border: 1px solid #666;
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=8)
}
.form-group.form-md-line-input.help-block.last {
    margin-top: 37px
}
.mass-book td input.form-control {
    padding: 0;
    border: none;
    background: none
}
.mass-book td input.form-control:focus,
.mass-book td input.form-control.gbFocus {
    border: 1px solid #999;
    padding: 6px 12px;
    background: #fff;
    min-width: 90px
}
.mass-book1 tr.ss td input.form-control {
    border: none;
    background: none
}
.mass-book1 tr.ss td input.form-control:focus,
.mass-book1 tr.ss td input.form-control.gbFocus {
    border: 1px solid #999;
    padding: 6px 12px;
    background: #fff;
    min-width: 90px
}
.pad-s {
    padding-right: 10px
}
.colr {
    float: right;
    margin-top: -46px;
    margin-right: -13px
}
.colr ul {
    overflow: hidden
}
.colr ul li {
    float: left;
    padding: 5px 10px 7px;
    list-style-type: none;
    font-size: 14px;
    text-align: left
}
.brdr {
    width: 10px;
    height: 10px;
    border: 1px;
    display: inline-block;
    margin-right: 10px
}
label .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px
}
.cards-main {
    padding-top: 27px
}
#card + #card {
    margin-top: 25px
}
#card a {
    position: relative;
    padding: 17px;
    text-align: left;
    overflow: visible
}
#card a span {
    display: block
}
#card a i.status {
    position: absolute;
    top: -18%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    line-height: 30px
}
.red.btn {
    background-color: #FF5F67
}
.red.btn:hover,
.red.btn:focus,
.red.btn:active,
.red.btn.active {
    background-color: #cc4c52
}
#card a:hover i.red.btn,
#card a:focus i.red.btn {
    background-color: #FF5F67
}
#card a:hover i.green.btn,
#card a:focus i.green.btn {
    background-color: #1f897f
}
#card a i.red.status:before {
    animation: blinker 1s linear infinite
}
.green.btn {
    color: #FFF;
    background-color: #7D508D
}
.green.btn:hover,
.green.btn:focus,
.green.btn:active,
.green.btn.active {
    background-color: #6a4178
}
.green.btn:active:hover,
.green.btn.active:hover {
    background-color: #6a4178
}
.blue.btn {
    color: #FFF;
    background-color: #3EA088
}
.blue.btn:hover,
.blue.btn:focus,
.blue.btn:active,
.blue.btn.active {
    background-color: #378f79
}
.blue.btn:active:hover,
.blue.btn.active:hover {
    background-color: #378f79
}
.label-warning {
    background-color: #FF6E43
}
.btn-warning {
    background-color: #FF6E43
}
@keyframes blinker {
    50% {
        opacity: 0
    }
}
#card a .list-unstyled {
    margin: 0;
    padding: 0 15px 0 0
}
#card a .list-unstyled li {
    text-align: center
}
#package_details th {
    text-align: center
}
#card a span.pull-right {
    position: relative;
    z-index: 2
}
#checkin button.btn {
    margin-bottom: 15px
}
#checkin .btn + .btn {
    margin-left: 0
}
.btn-oii {
    background: #33d0e1;
    color: #fff
}
.btn-oii:hover {
    background: #19c2d4;
    color: #fff
}
.grrru {
    background: #e3672f;
    color: #fff
}
.grrru:hover {
    background: #bd4e1c;
    color: #fff
}
.ho-des .list-group-item {
    border: none;
    color: #008F6C
}
.ho-des .list-group-item strong {
    color: #2B3643
}
.ho-des .fa {
    font-size: 12px;
    font-weight: 400
}
.ho-des .list-group {
    margin-bottom: 0;
    border: 1px solid #ddd
}
.ho-des .btn-group-sm .btn{
	margin-bottom:5px;
}
iframe body {
    background: none
}
#totalsss {
    clear: both
}
#totalsss ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}
#totalsss ul li {
    width: 50%;
    padding: 8px 0;
    float: left
}
.clint_logo {
    width: 100%;
    text-align: center
}
.clint_logo img {
    height: 26px;
    margin-top: 9px
}
iframe {
    position: relative;
    z-index: 2;
    background-color: transparent!important
}
body > div ~ div {
    z-index: 2
}
.keep-deta {
    height: 85px;
    padding-top: 15px
}
@media screen and (max-width: 990px) {
    .keep-deta {
        height: inherit
    }
    .keep-deta [class*="col-md-"] {
        float: left
    }
    .keep-deta .col-md-4 {
        width: 33.3333%
    }
    .keep-deta .col-md-8 {
        width: 66.6667%
    }
    .keep-deta .col-md-12 {
        width: 100%
    }
}
.room-no {
    text-align: right;
    font-size: 34px;
    color: #fff;
    line-height: 24px
}
.room-no:hover {
    color: #fff;
    text-decoration: none
}
.room-icon i {
    display: inline-block!important;
    font-size: 20px!important;
    line-height: 22px!important;
    color: #fff
}
.maid-name span {
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 3px 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: capitalize
}
.maid-name span + span {
    margin-top: 5px
}
#refresh .dashboard-stat {
    position: relative
}
.long {
    min-height: 458px
}
.long .nav {
    width: 28%;
    float: left
}
.long .nav>li>a {
    padding: 5px 15px
}
.long .new-bookarea {
    width: 69%;
    float: right
}
tr.crsr {
    cursor: pointer
}
tr.crsr td {
    background: #ddd;
    font-weight: 700;
    text-transform: uppercase
}
tr.crsr.collapsed td {
    background: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px
}
.mrgn {
    display: none
}
.table>tbody>tr>td.mrgn {
    padding-top: 0;
    padding-bottom: 0
}
.no-marin {
    padding-top: 0!important;
    padding-bottom: 0!important
}
.collapse.in {
    display: block
}
p {
    margin: 10px 0 7px
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0;
    background-color: #f5f5f5
}
.pic img {
    width: 100%;
    height: 100%
}
.cl-in span {
    display: block
}
.cl-in span + span {
    margin-top: 5px
}
::-moz-selection {
    color: #003020;
    background: #EFFF6C
}
::selection {
    color: #003020;
    background: #EFFF6C
}
.dark-stripe {
    border-left: 3px solid lightgray
}
.pop-edittable td,
div.pop-edittable {
    color: #008F6C
}
.pop-edittable td span,
.pop-edittable > span {
    font-weight: 700;
    color: #2B3643
}
.page-sidebar-menu-closed ~ .accordion {
    display: none
}
.re-modi {
    padding-bottom: 2px
}
.re-modi label {
    color: #1AAFD0
}
.re-modi label.active,
.re-modi label:hover {
    color: #6db03a
}
.re-modi label i.fa {
    font-size: 23px;
    line-height: 28px
}
.re-ac {
    padding-bottom: 2px
}
.re-ac label {
    line-height: 25px;
    background: #1AAFD0;
    border: 1px solid #1AAFD0;
    padding: 0 6px!important;
    color: #fff;
    font-size: 12px
}
.re-ac .radio-inline+.radio-inline {
    margin-left: 8px
}
.re-ac label.active,
.re-ac label:hover {
    background: #02CEFF;
    border: 1px solid #02CEFF
}
.re-ac label i {
    font-size: 12px
}
.table-hover>tbody>tr:hover,
.table-hover>tbody>tr:hover>td {
    background-color: #E9E9E9!important
}
.table thead tr th,
.table tbody tr td {
    font-size: 12px
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle
}
tbody td .btn {
    padding: 4px 7px
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    background-color: #9b9c9c;
    color: #fff
}
.table>thead>tr>th {
    border: 1px solid #babcbe
}
.return_guestinn {
    overflow-y: scroll;
    height: 354px
}
.nav>li>a {
    padding: 10px
}
.i-nr i.fa {
    font-size: 12px
}
.form-horizontal .control-label {
    text-align: left
}
#rmt .portlet.light > .portlet-title,
#evt .portlet.light > .portlet-title {
    min-height: 0
}
#rmt .portlet.light > .portlet-title > .caption,
#evt .portlet.light > .portlet-title > .caption {
    padding: 3px 0
}
.all-re {
    padding: 10px;
    border: 1px solid #e1e1e1
}
.all-re .all-retitle {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px
}
@media screen and (min-width: 568px) {
    .add-roo .col-md-4 {
        float: none;
        display: inline-block;
        width: 33%;
        vertical-align: top
    }
}
#bcid .nav-tabs>li>a {
    background: #829596;
    color: #fff;
    border-color: #829596;
    padding: 6px
}
#bcid .nav-tabs>li.active>a,
#bcid .nav-tabs>li.active>a:focus,
#bcid .nav-tabs>li.active>a:hover {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #fff
}
#bcid .nav-tabs {
    margin: 0;
    border: none
}
#bcid .tab-content {
    padding: 20px 10px;
    border: 1px solid #e1e1e1
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto
}
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1
}
.btn-warning:focus .tooltip.in {
    filter: alpha(opacity=0);
    opacity: 0
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: rgba(27, 188, 155, 0.8);
    border-radius: 4px;
    text-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.8)
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(27, 188, 155, 0.8)
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(27, 188, 155, 0.8)
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(27, 188, 155, 0.8)
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: rgba(27, 188, 155, 0.8)
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: rgba(27, 188, 155, 0.8)
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(27, 188, 155, 0.8)
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(27, 188, 155, 0.8)
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(27, 188, 155, 0.8)
}
#logo-name {
    position: absolute;
    z-index: -5
}
@media print {
    #logo-name {
        position: relative;
        z-index: 1;
        width: 100%
    }
    .table-toolbar,
    #sample_editable_2_wrapper.dataTables_wrapper > .row,
    #sample_editable_1_wrapper.dataTables_wrapper > .row,
    .page-title {
        display: none
    }
    .portlet.box.blue {
        border: none
    }
    .portlet.box > .portlet-body {
        padding: 0
    }
    .table-scrollable {
        margin: 0
    }
    .portlet {
        margin: 0
    }
}
#pr_div .progress-bar {
    transition: width 2s ease;
    webkit-transition: width 2s ease;
    -o-transition: width 2s ease
}
#pr_div .progress-bar .sr-only {
    color: #fff;
    height: inherit;
    line-height: 14px;
    font-size: 10px;
    clip: inherit;
    top: 0;
    width: auto;
    right: 4px
}
#b-card .form-group {
    margin-bottom: 4px
}
#b-card h4 {
    color: #02CEFF
}
.datepicker-dropdown.dropdown-menu {
    background-color: #f5f4f5;
    box-shadow: 5px 5px 5px 1px rgba(102, 102, 102, 0.2)
}
.datepicker-dropdown:before,
.datepicker-dropdown:after {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f5f4f5!important;
    border-top: 0;
    position: absolute
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused,
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
    background: #d2d3d3!important
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
    background-color: #FFC107!important;
    border-color: #FFC107!important;
    color: #000!important
}
.datepicker table tr td.old,
.datepicker table tr td.old:hover {
    background: none!important
}
.form-group.form-md-line-input .form-control ~ label{
	overflow:hidden;
}
.form-group.form-md-line-input .form-control ~ label::after {
    content: '';
    position: absolute;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: .5s ease all !important;
    transition: .5s ease all !important;
	left:-100% !important;	
}

/*===============*/

.page-logo,
.top-menu {
    position: relative;
    z-index: 1
}
.form-control.error {
    border: 1px solid #f3565d
}
label.error {
    position: absolute;
    background: #f3565d;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    z-index: 2;
    margin-top: 5px
}
label.error#booking_type-error {
    top: 22px
}
label.error:before {
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f3565d;
    border-top: 0;
    top: -5px;
    position: absolute
}
.pass-change .input-group .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    border-radius: 0;
    padding: 9px 12px
}
.pass-change .input-group .input-group-addon > i {
    color: #fff
}
.pass-change .input-group .input-group-addon.valid-text {
    background: #1caf9a;
    border: 1px solid #e5e5e5
}
.pass-change .input-group .input-group-addon.error-text {
    background: #f3565d;
    border: 1px solid #e5e5e5
}
.error-val {
    position: absolute;
    background: #f3565d;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    z-index: 2;
    margin-top: 5px
}
.error-val:before {
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f3565d;
    border-top: 0;
    top: -5px;
    position: absolute
}
#chartdiv {
    width: 100%;
    height: 379px
}
@media screen and (min-width: 1024px) {
    #chartdiv {
        width: 600px;
        margin-left: -54px
    }
}
#bookfilter {
    transition:  .3s all;
}
.dashboard-stat.blue-madison {
    background-color: #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.dashboard-stat.blue-madison .more {
    color: #FFF;
    background-color: #26A69A
}
.dashboard-stat.blue-madison .details .desc {
    color: #575757
}
.dashboard-stat.blue-madison .details .number {
    color: #575757
}
.dashboard-stat.red-intense {
    background-color: #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.dashboard-stat.red-intense .more {
    color: #FFF;
    background-color: ##26A69A
}
.dashboard-stat.red-intense .details .desc {
    color: #575757
}
.dashboard-stat.red-intense .details .number {
    color: #575757
}
.dashboard-stat.green-haze {
    background-color: #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.dashboard-stat.green-haze .more {
    color: #FFF;
    background-color: #00ACC1
}
.dashboard-stat.green-haze .details .desc {
    color: #575757
}
.dashboard-stat.green-haze .details .number {
    color: #575757
}
.dashboard-stat.purple-plum {
    background-color: #E6E6E6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.dashboard-stat.purple-plum .more {
    color: #FFF;
    background-color: orange
}
.dashboard-stat.purple-plum .details .desc {
    color: #575757
}
.dashboard-stat.purple-plum .details .number {
    color: #575757
}
.page-sidebar .sidebar-toggler,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
    margin: 7px 19px 8px 0
}
.page-header.navbar .page-logo .logo-default {
    margin: 9px 0 0
}
a {
    color: #616161
}
a:hover,
a:focus {
    text-decoration: none;
    color: #00BCD4;
    font-weight: 500
}
body {
    letter-spacing: .05px;
    font-size: 13px;
	overflow-x: hidden;
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif
}
.form-group.form-md-line-input {
    margin-bottom: 0
}
.form-group.form-md-line-input .form-control {
    font-size: 14px !important;
	color: #5a5a5a !important;
}
.form-group.form-md-line-input .help-block {
    font-size: 11px
}
.portlet.light,
.portlet.box > .portlet-body {
    background: #f9f9f9
}
.page-footer {
    background: #E1E1E1;
    z-index: 50;
    position: relative;
}
.noClick {
    display: none!important
}
.form-horizontal .form-group.form-md-line-input {
    margin-bottom: 0
}
.uploadss {
    margin-top: 15px
}
.uploadss > label {
    display: block
}
.page-sidebar .page-sidebar-menu>li>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i{
	color:#000000;
}
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before, 
.page-sidebar .page-sidebar-menu>li.open>a>.arrow:before, 
.page-sidebar .page-sidebar-menu>li.open>a>i, 
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before, 
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before, 
.page-sidebar .page-sidebar-menu>li:hover>a>i, 
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i,
.dropdown-menu li > a:hover > [class^="icon-"], 
.dropdown-menu li > a:hover > [class*="fa-"]{
	color:#000000;
}

.rating-container .rating-stars {
    font-family: 'FontAwesome'
}
.form .form-actions.right {
    margin-top: 20px;
    padding: 10px 20px
}
.portlet.light.bordered > .portlet-title {
    border-bottom: 1px solid #d9d8d8!important
}
.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 0
}
textarea {
    resize: none
}
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    background-color: #eee!important;
    color: #333;
    border-bottom: 1pt solid #999
}
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: none
}
.table-bordered {
    border: none
}
.table .table {
    background-color: inherit
}

.portlet.box.blue {
    border: 1px solid #92a6b7;
    border-top: 0;
}

.portlet.box.blue > .portlet-title {
    background-color: #00BCD4
}
.portlet > .portlet-title > .caption {
    font-size: 20px!important
}

table tr td {
    color: #6a6868
}
table tr:hover td {
    color: #1f1f1f
}
.modal .modal-header {
    border-bottom: 1px solid #EFEFEF;
    background: #00BCD4!important
}
.page-bar {
    margin: -25px -20px 0;
    padding: 8px 20px;
    background: none
}
.page-bar .page-toolbar {
    padding: 3px 0
}
.page-bar .page-breadcrumb {
    padding: 8px 0
}
.portlet {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2)
}
.box.blue .form .form-body {
    padding: 0 20px
}
.form-control:focus::-webkit-input-placeholder {
    text-indent: -100%;
    opacity: 1
}
.highlight {
    position: absolute;
    height: 14px;
    width: 50px;
    top: 56%;
    left: 0;
    pointer-events: none;
    opacity: 1
}
select.form-control,
input.form-control {
    font-size: 12px
}
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter .2s ease;
    -moz-animation: inputHighlighter .2s ease;
    animation: inputHighlighter .2s ease
}
@-webkit-keyframes inputHighlighter {
    from {
        background: #26A69A
    }
    to {
        width: 0;
        background: transparent
    }
}
@-moz-keyframes inputHighlighter {
    from {
        background: #26A69A
    }
    to {
        width: 0;
        background: transparent
    }
}
@keyframes inputHighlighter {
    from {
        background: #26A69A
    }
    to {
        width: 0;
        background: transparent;
        opacity: .5
    }
}
.page-header.navbar {
    background-color: #666
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu {
    background: #F1F1F1
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li:hover > a {
    background: #e9e9e9!important;
    border: none
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li.active > a {
    background: #e9e9e9!important;
    border-left: 3px solid #E27979
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li:hover > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li:hover > a {
    background: #e9e9e9!important;
    border: none
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li:hover > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li.open > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li.active > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li.open > a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li .sub-menu > li .sub-menu > li.active > a {
    background: #e9e9e9!important;
    border-left: 2px solid #33D0E1
}
.page-sidebar .page-sidebar-menu .sub-menu li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
    padding: 6px 15px 6px 22px
}
.page-sidebar .page-sidebar-menu .sub-menu li > .sub-menu > li > a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > .sub-menu > li > a {
    padding-left: 40px
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a, 
 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a{
	background:#607D8B !important;
	color:#ffffff;
}
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a{
	background:#654616;
}
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i{
	color:#646546;
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i, 
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,  
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i, 
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i{
	color:#ffffff;
}
.page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1); 
}
.form-horizontal .md-radio-inline {
    margin-bottom: 0
}
.dataTables_filter label {
    position: relative
}
.dataTables_filter label i {
    position: absolute;
    top: 9px;
    right: 7px;
    color: #c6c6c6
}
.dataTables_filter label input {
    padding: 6px 25px 6px 12px
}
.ba .btn-group {
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}
.ba .btn-group .dropdown-toggle {
    z-index: 3!important
}
.table-scrollable .dataTable td>.btn-group,
.table-scrollable .dataTable th>.btn-group {
    position: static;
    margin-top: 0
}
.ba .btn-group ul {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0!important;
    right: auto!important;
    margin: 0;
    padding: 0;
    display: block;
    opacity: 1!important;
    float: none!important;
    min-width: auto
}
.ba .btn-group li {
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;
    left: 0;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275)
}
.ba .btn-group li a {
    box-shadow: none
}
.ba .btn-group.open li a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.ba ul .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-xs {
    padding: 4px 2px 2px
}
.ba .dropdown-menu li > a > [class^="fa-"],
.ba .dropdown-menu li > a > [class*=" fa-"] {
    color: #fff
}
.ba .btn-group li:nth-child(1) {
    -moz-transition-delay: .07s;
    -webkit-transition-delay: .07s;
    -o-transition-delay: .07s;
    transition-delay: .07s
}
.ba .btn-group li:nth-child(2) {
    -moz-transition-delay: .14s;
    -webkit-transition-delay: .14s;
    -o-transition-delay: .14s;
    transition-delay: .14s
}
.ba .btn-group li:nth-child(3) {
    -moz-transition-delay: .24s;
    -webkit-transition-delay: .24s;
    -o-transition-delay: .24s;
    transition-delay: .24s
}
.ba .btn-group li:nth-child(4) {
    -moz-transition-delay: .35s;
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s
}
.ba .btn-group.open li:nth-child(1) {
    top: 0;
    left: -40px
}
.ba .btn-group.open li:nth-child(2) {
    top: 0;
    left: -75px
}
.ba .btn-group.open li:nth-child(3) {
    top: 0;
    left: -110px
}
.ba .btn-group.open li:nth-child(4) {
    top: 0;
    left: -145px
}
.wel-card {
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    column-count: 3;
    column-gap: 30px
}
.wel-card .card {
    display: inline-block;
    margin-bottom: 30px;
    background: #fff;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    width: 100%
}
.card-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 165px
}
.card-header img {
    width: 100%
}
.card .card-header .card-header-details {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    height: 100%;
    padding: 5px;
    position: absolute;
    transition: all .5s ease 0;
    width: 100%;
    padding-top: 110px
}
.card-header-details span {
    display: block;
    width: 100%;
    text-transform: uppercase
}
.chd-1 {
    font-size: 20px
}
.chd-2 {
    font-size: 14px
}
.card-inner {
    padding: 10px;
    position: relative
}
.card-action {
    position: absolute;
    right: 10px;
    top: -25px
}
.card-action.ba .btn-group {
    -moz-transform: inherit;
    -webkit-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit
}
.card-action .btn-default,
.card-action .btn-default:hover,
.card-action .btn-default:focus,
.card-action .btn-default:active,
.card-action .btn-default.active {
    background: #fff!important;
    box-shadow: rgba(0, 0, 0, 0.117647) 0 2px 4px, rgba(0, 0, 0, 0.239216) 0 2px 4px;
    width: 48px;
    height: 48px;
    border-radius: 100%!important;
    -webkit-border-radius: 100%!important
}
.card-action .dropdown-menu .btn,
.card-action .dropdown-menu .btn:hover,
.card-action .dropdown-menu .btn:focus,
.card-action .dropdown-menu .btn:active {
    width: 46px;
    height: 46px;
    line-height: 46px;
    border-radius: 100%!important;
    -webkit-border-radius: 100%!important;
    padding: 2px 0!important
}
.card-action.ba .btn-group.open li:nth-child(1) {
    left: -52px
}
.card-action.ba .btn-group.open li:nth-child(2) {
    left: -102px
}
.card-inner h4 {
    height: 62px;
    margin: 0;
    margin-top: 20px
}
.card-innertag {
    padding: 10px
}
.tag-chip {
    background: #dfdfdf;
    color: #2f2f2f;
    padding: 6px 8px 6px 40px;
    font-size: 12px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    display: inline-block;
    position: relative;
    margin: 3px 5px 3px 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18);
    line-height: 22px
}
.tag-chip strong {
    background: #a3a3a3;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    margin: 0 5px 0 8px;
    font-size: 10px;
    vertical-align: top
}
.tag-chip i {
    background: #a3a3a3;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    line-height: 22px!important;
    display: inline-block;
    font-size: 11px!important;
    vertical-align: top
}
.tag-chipinn {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.18)
}
.modal .modal-content .modal-footer {
    background: #F1F1F1
}
.modal .modal-content .modal-title {
    color: #fff
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #AAA
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle:hover > .username,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle:hover > i {
    color: #d0d0d0
}
.portlet > .portlet-title > .tools {
    display: none
}
a.disabled {
    pointer-events: none
}
.alert {
    border-left: 5px solid #eee
}
.alert.alert-success {
    background-color: #bbd4b0;
    border-color: #54ac54;
    color: #2b542c
}
.alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}
.alert-dismissable .close,
.alert-dismissible .close {
    top: 4px
}
.alert {
    text-transform: capitalize;
    letter-spacing: .5px
}
table.table-scrollable {
    border-collapse: inherit
}
td.form-group {
    position: relative
}
.auto-ser {
    display: none;
    z-index: 1200;
    position: absolute;
    top: 80%;
    width: 100%
}
.auto-ser ul {
    max-height: 100px;
    overflow-y: auto
}
.auto-ser ul li {
    font-size: 12px;
    padding: 0
}
.auto-ser ul li:hover {
    cursor: pointer;
    background: #EEE
}
.auto-ser ul li a {
    display: block;
    padding: 6px
}
@keyframes flicker {
    0% {
        background: transparent
    }
    50% {
        background: #fff
    }
    100% {
        background: transparent
    }
}
@keyframes neon {
    0% {
        text-shadow: none
    }
    50% {
        text-shadow: rgba(255, 255, 255, 0.8) 0 0 8px
    }
    100% {
        text-shadow: none
    }
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
#loader {
    position: fixed;
    top: 50%;
    left: 50%;    
    z-index: 10
}
.hotel-sign {
    padding: .25em 0;
    position: absolute;
    right: -1.5em;
    width: 1.3em;
    content: " ";
    text-align: center;
    background: #bfbfbf none repeat scroll 0 0;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 4px;
    animation: 3s ease 0 normal none infinite running neon;
    top: 2px
}
.hotel-sign span {
    line-height: 1;
    color: #fff
}
.loader {
    padding: .5em;
    width: 5.5em;
    height: 7.9em;
    background: #33d0e1 none repeat scroll 0 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.loader .window {
    background: #fff;
    width: .5em;
    height: 1em;
    float: left;
    margin: 0 .5em .5em 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    animation: flicker 1s infinite ease
}
.loader .window:nth-of-type(5n) {
    margin: 0 0 .5em
}
.loader .window:nth-child(1) {
    animation-delay: .5s;
    animation-duration: .5s
}
.loader .window:nth-child(2) {
    animation-delay: 1s;
    animation-duration: 1s
}
.loader .window:nth-child(3) {
    animation-delay: 1.5s;
    animation-duration: 1.5s
}
.loader .window:nth-child(4) {
    animation-delay: 2s;
    animation-duration: 2s
}
.loader .window:nth-child(5) {
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-delay: 1.25s;
    animation-duration: 1.25s
}
.loader .window:nth-child(6) {
    animation-delay: 1.5s;
    animation-duration: 1.5s
}
.loader .window:nth-child(7) {
    animation-delay: 1.75s;
    animation-duration: 1.75s
}
.loader .window:nth-child(8) {
    animation-delay: 2s;
    animation-duration: 2s
}
.loader .window:nth-child(9) {
    animation-delay: 2.25s;
    animation-duration: 2.25s
}
.loader .window:nth-child(10) {
    animation-delay: 2.5s;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-duration: 1s
}
.loader .window:nth-child(11) {
    animation-delay: 1.1s;
    animation-duration: 1.1s
}
.loader .window:nth-child(12) {
    animation-delay: 1.2s;
    animation-duration: 1.2s
}
.loader .window:nth-child(13) {
    animation-delay: 1.3s;
    animation-duration: 1.3s
}
.loader .window:nth-child(14) {
    animation-delay: 1.4s;
    animation-duration: 1.4s
}
.loader .window:nth-child(15) {
    animation-delay: 5.5s;
    animation-duration: 7.5s
}
.loader .window:nth-child(16) {
    animation-delay: 1.6s;
    animation-duration: 1.6s
}
.loader .window:nth-child(17) {
    animation-delay: 1.7s;
    animation-duration: 1.7s
}
.loader .window:nth-child(18) {
    animation-delay: 1.8s;
    animation-duration: 1.8s
}
.loader .window:nth-child(19) {
    animation-delay: 1.9s;
    animation-duration: 1.9s
}
.loader .window:nth-child(20) {
    animation-delay: 2s;
    animation-duration: 2s;
    animation-delay: 1.33333s;
    animation-duration: 1.66667s
}
.loader .window:nth-child(21) {
    animation-delay: 1.4s;
    animation-duration: 1.75s
}
.loader .window:nth-child(22) {
    animation-delay: 1.46667s;
    animation-duration: 1.83333s
}
.loader .window:nth-child(23) {
    animation-delay: 1.53333s;
    animation-duration: 1.91667s
}
.loader .window:nth-child(24) {
    animation-delay: 1.6s;
    animation-duration: 2s
}
.loader .window:nth-child(25) {
    animation-delay: 1.66667s;
    animation-duration: 2.08333s
}
.loader .window:nth-child(26) {
    animation-delay: 1.73333s;
    animation-duration: 2.16667s
}
.loader .window:nth-child(27) {
    animation-delay: 1.8s;
    animation-duration: 2.25s
}
.loader .window:nth-child(28) {
    animation-delay: 1.86667s;
    animation-duration: 2.33333s
}
.loader .window:nth-child(29) {
    animation-delay: 1.93333s;
    animation-duration: 2.41667s
}
.loader .window:nth-child(30) {
    animation-delay: 2s;
    animation-duration: 2.5s
}
.loader .door {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 1em;
    height: 1.5em;
    left: 50%;
    margin-left: -.5em;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}
#loader-out {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F1F1F1;
    z-index: 9;
    top: 0;
    left: 0
}
#gpEdit {
    position: relative
}
.btn.btn-sm {
    padding: 6px 10px 4px
}
.portlet.light > .portlet-title > .caption {
    position: relative
}
.border-bot {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #1F897F
}
.border-bot i.fa {
    vertical-align: top;
    line-height: 25px
}
.modal-open .datepicker {
    z-index: 100010!important
}
.ftop .form-group {
    vertical-align: top
}
.newmo span {
    font-size: 13px;
    line-height: 21px
}
.newmo {
    line-height: 15px
}
.newmo span:last-child {
    margin-right: 10px
}
.form-md-line-input .bootstrap-select .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    background: inherit!important;
	border:none !important;
    box-shadow: none!important;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
	color: #404040;
    text-transform: capitalize
}
.bootstrap-select .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    background: inherit!important;
    box-shadow: none!important;
    font-weight: 400;
	color: #404040;
    text-transform: capitalize
}
.bootstrap-select .md-click-circle.md-click-animate {
    display: none
}
.bootstrap-select .dropdown-menu {
    max-height: 200px!important;
    font-size: 11px;
    text-transform: capitalize
}
.bootstrap-select .dropdown-menu li > a {
    padding: 5px 14px;
    text-transform: capitalize
}
.bootstrap-select .dropdown-menu li > a span {
    text-transform: capitalize
}
.form-group.form-md-line-input .form-control.open ~ .help-block {
    display: block
}
.form-group.form-md-line-input .form-control.open ~ label:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #26A69A
}
.fixed > div:nth-child(3) > .aa {
    clip: rect(0px, auto, auto, 0px);
    position: absolute;
    height: 100%;
    width: 100%
}
.fixed > div:nth-child(3) .aa > div:nth-child(1) {
    position: fixed!important;
    top: 46px!important;
    z-index: 1
}
.subhead {
    border-bottom: 1px solid #008F6C;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #008F6C
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle,
.nav>li>a:focus,
.nav>li>a:hover {
    background-color: inherit
}
.switch {
    padding-top: 3px
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}
.cmn-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
input.cmn-toggle-round + label {
    padding: 2px;
    width: 36px;
    height: 14px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
    box-shadow: none
}
input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f88;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}
input.cmn-toggle-round + label:after {
    width: 20px;
    height: 20px;
    top: -3px;
    left: -1px;
    background-color: #cb5a5e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    -o-transition: margin .4s;
    transition: margin .4s
}
input.cmn-toggle-round:checked + label:before {
    background-color: #34d9ca
}
input.cmn-toggle-round:checked + label:after {
    margin-left: 18px;
    background: #26a69a
}
.form-wizard .steps,
.form-wizard .steps > li > a.step {
    background: none
}
.form-wizard .steps > li > a.step {
    display: inline-block
}
.form-wizard .steps > li > a.step .desc {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 8px
}
.nav-justified>li {
    text-align: center
}
.form-wizard .steps > li.active > a.step .desc {
    color: #26A69A
}
.form-wizard .steps > li.done > a.step .desc,
.form-wizard .steps > li.done > a.step .desc i {
    color: #FF5722
}
.login .content .form-actions {
    padding-bottom: 0;
    border: none
}
.input-icon > i {
    margin-top: 14px;
    color: inherit
}
.dropdown-menu.selectpicker li > a:hover {
    background: #00bcd4;
    background: -moz-linear-gradient(-45deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    background: -webkit-linear-gradient(-45deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    background: linear-gradient(135deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00bcd4', endColorstr='#3fd5c0', GradientType=1);
    color: #fff!important;
    font-weight: 600
}
.dropdown-menu.selectpicker li.selected > a {
    background-color: #3AADA2;
    color: #fff!important;
    font-weight: 600
}
.dropdown-menu.selectpicker li.selected > a > [class*=" fa-"] {
    color: #fff!important
}
.dropdown-menu li > a:hover {
    background-color: #FFF3AB;
    color: #424242!important;
    font-weight: 600
}
.irs-diapason {
    background: #90E57E!important
}
.label-info {
    background-color: #07608F
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a {
    border-bottom: 1px solid #EFF2F6!important;
    color: #666
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-extended .dropdown-menu .dropdown-menu-list > li > a:hover {
	border-bottom: 1px solid #b9b5b5!important;
    background-color: rgba(255, 193, 7, 0.52)!important;
    color: #666
}
.purple.btn {
    color: #FFF;
    background-color: #222D59
}
.purple.btn:hover,
.purple.btn:focus {
    color: #FFF;
    background-color: #2E3966
}
.icol {
    color: #FFF
}
body .fancybox-opened {
    z-index: 10000!important
}
.page-header.navbar.navbar-fixed-top {
    z-index: 11;
	min-height:45px;
}
.form-group.form-md-line-input .help-block {
    top: 100%
}
.tasks-widget .task-list > li > .task-checkbox {
    width: auto
}
.tasks-widget .task-list > li > .task-title {
    color: #666;
    margin-left: 15%
}
.bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0)
    }
    40% {
        transform: translateX(-5px)
    }
    60% {
        transform: translateX(-5px)
    }
}
.feeds li .col2 {
    width: auto;
    margin-left: 0
}
.feeds li .col2 > .date {
    color: #666
}
.feeds li .col1 > .cont {
    float: none;
    margin: 0
}
.feeds li .col1 > .cont > .cont-col2 > .desc a {
    float: right
}
.feeds li .col1 > .cont > .cont-col2 > .desc {
    color: #666
}
.feeds li {
    margin-bottom: 14px
}
.slimScrollBar {
    z-index: 1!important
}
.tasks-widget .task-list > li {
    border-bottom: 1px solid #EAEAEA
}
.portlet.light > .portlet-title > .actions .btn-icon-only i {
    line-height: 20px
}
.help-show:hover .help-block {
    opacity: 1
}
@media only screen and (max-width: 768px) {
    .null {
        width: 100%!important;
        margin-left: 0!important;
        left: 0!important
    }
    .pop-edit .col-xs-4,
    .pop-edit .col-xs-6 {
        width: 100%
    }
    .fixed > div:nth-child(3) .aa > div:nth-child(1) {
        position: absolute!important;
        top: 0!important
    }
}
@media only screen and (max-width: 480px) {
    .clint_logo {
        text-align: left
    }
}
.all-re .portlet-body {
    overflow: hidden
}
.all-re p {
    line-height: 18px;
    margin: 0;
    color: #FD3D00
}
.all-re h3 {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    float: left;
    line-height: 18px;
    width: 25%
}
.bc {
    float: left;
    width: 75%;
    margin-bottom: 10px
}
.radio-list > label.checkbox-inline {
    display: inline-block;
    margin-right: 6px
}
td .label {
    display: inline-block
}
td .label + .label {
    margin-top: 10px
}
.blink {
    font-size: 13px;
    color: #FF7F00;
    text-transform: uppercase;
    animation: blur 1.95s ease-out infinite;
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #fff
}
@keyframes blur {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #FFE0BD, 0 0 15px #FFE0BD, 0 5px 10px #FFE0BD, 0 5px 10px #FFE0BD, 0 10px 10px #FFE0BD, 0 10px 10px #FFE0BD, 0 -10px 10px #FFE0BD, 0 -10px 10px #FFE0BD
    }
}
.glow {
    animation: pulse 1s infinite
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(229, 40, 40, 1)
    }
    50% {
        box-shadow: 0 0 2px 5px rgba(229, 40, 40, 0)
    }
    100% {
        box-shadow: 0 0 0 0 rgba(229, 40, 40, 0)
    }
}
.label-flat {
    text-transform: uppercase;
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    display: inline-block;
    line-height: 1
}
.label {
    text-transform: uppercase;
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 600
}
.blink-green {
    font-size: 12px;
    color: #1B803D;
    text-transform: uppercase;
    animation: blurs 1.95s ease-out infinite;
    text-shadow: 0 0 5px #FFFFFF, 0 0 7px #fff
}
@keyframes blurs {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #7DFE90, 0 0 15px #7DFE90, 0 5px 10px #7DFE90, 0 5px 10px #7DFE90, 0 10px 10px #7DFE90, 0 10px 10px #7DFE90, 0 -10px 10px #7DFE90, 0 -10px 10px #7DFE90
    }
}
.form-heading {
    font-size: 18px;
    font-weight: 500;
    color: #00BCD4
}
.td-icon {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    padding-left: 6px;
    display: inline-block;
    vertical-align: top
}
.md-checkbox-list .md-checkbox:last-child {
    margin-bottom: 0
}
.portfolio-block {
    background: #f7f7f7;
    margin-bottom: 15px;
    overflow: hidden
}
.portfolio-stat {
    overflow: hidden
}
.portfolio-info {
    float: left;
    color: #616161;
    font-size: 12px;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-transform: uppercase
}
.portfolio-info span {
    color: #16a1f2;
    display: block;
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
    font-weight: 200;
    text-transform: uppercase
}
body.modal-open, body.page-header-fixed.stop-scrolling {
    overflow: hidden!important;
}
@media screen and (min-width: 960px) {
	 body.modal-open .page-header, body.page-header-fixed.stop-scrolling, body.page-header-fixed.stop-scrolling .page-header{
		padding-right:17px !important;
	}
	body.modal-open .page-content{
		padding-right:37px;
	}
	body.modal-open .page-content .page-bar{
		margin-right:-37px;
		padding-right:37px;
	}
}
.page-md .progress {
    text-indent: 0
}
.tt-cursor {
    background-color: #3AADA2;
    color: #fff!important;
    font-weight: 600
}
.pagination>li>a,
.pagination>li>span {
    border: none
}
.portlet.box .dataTables_wrapper .dt-buttons,
.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: -54px
}
table.dataTable thead th,
table.dataTable thead td {
    padding-left: 10px
}
.btn.kolagreen {
    color: #FFF;
    background-color: #3D4B76
}
.btn.kolagreen:hover,
.btn.kolagreen:active {
    color: #FFF;
    background-color: #343F5E
}
.btn.purplene {
    background-color: #8A7590;
    color: #ffffff;
    border-color: #8A7590
}
.btn.purplene:hover,
.btn.purplene:active {
    background-color: #756477
}
.btn.pink {
    color: #ff3859;
    font-weight: 700
}
.btn.pink:hover,
.btn.pink:active {
    background-color: #ff3859;
    font-weight: 700;
    color: #fff
}
.btn.greenLight {
    color: #059C73;
    font-weight: 700
}
.btn.greenLight:hover,
.btn.greenLight:active {
    background-color: #059C73;
    font-weight: 700;
    color: #fff
}
.btn-success {
    color: #fff;
    background-color: #2FC3A1;
    border-color: #2FC3A1;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success:active:focus {
    background-color: #27a78a;
	border-color: #27a78a;
    color: #fff
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: block
}
table.dataTable thead .sorting,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc {
    background: none
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.pagination>li>a,
.pagination>li>span {
    background: none
}
.pagination>li>a,
.pagination>li>span {
    padding: 4px 18px
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	background-color: #607D8B;
    border-color: #607D8B;
}
.calendar.left {
    width: auto
}
.s-inp {
    border: none;
    background: none;
    pointer-events: none
}
.btn,
.btn-large,
.btn-flat {
    height: auto
}
.daterangepicker .ranges li.active,
.daterangepicker .ranges li:hover {
    background: #607D8B!important;
    border: 1px solid #607D8B!important;
    color: #fff
}
.daterangepicker .ranges li.hover,
.daterangepicker .ranges li:hover {
    background: #9e9e9e!important;
    border: 1px solid #9e9e9e!important;
    color: #fff
}
.daterangepicker td.in-range {
    background: rgba(0, 188, 212, 0.45);
    font-weight: 800;
    border-radius: 0
}
.daterangepicker td.active {
    background-color: #607D8B;
    background-image: none;
    filter: none
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #607D8B;
    border-color: #607D8B;
    color: #fff
}
.daterangepicker .input-mini.active {
    border: 1px solid #009688
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active {
    background-color: #607D8B!important;
    border-color: #607D8B!important;
    color: #fff!important;
    font-weight: 700!important
}
.page-container-bg-solid .page-bar,
.page-content-white .page-bar {
    background-color: rgba(158, 158, 158, 0.19);
    position: relative;
    padding: 0 20px;
    margin: -25px -20px 0
}
.btn.btn-outline.yellow {
    border-color: #02723B;
    color: #02723B;
    background: 0 0
}
table.dataTable.short thead th:before,
table.dataTable.short thead th:after {
    bottom: 20px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #FFC107;
    color: #000000;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    color: black !important;
}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #607D8B;
    border-top-color: transparent;
    color: #fff;
}

.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
    background: #607D8B;
	color: #ffffff;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a {
    background: #8cd8d4 !important;
    color: #29343a;
	font-weight: bold;
}

.page-sidebar .page-sidebar-menu>li.open>a, .page-sidebar .page-sidebar-menu>li:hover>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #e0dddd;
    color: #555;
}

.portlet.box.grey-cascade>.portlet-title, .portlet.grey-cascade, .portlet>.portlet-body.grey-cascade {
    background-color: #607D8B;
}

.wizard-nav-list li.active a {
    background-color: #8cd8d4 !important;
    color: #29343a !important;
    font-weight: bold;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    color: #151515;
}

.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
    color: #04585d;
}

.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i {
    color: #29343a;
}
.table>tfoot>tr>td, .table>tfoot>tr>th{
	padding:8px;
}

#tid .extra_per label {
    width: 8px;
    padding: 0;
    overflow: hidden;
    height: 15px;
}
.hideANDseek{
    display: none;
}
.profile-nav .fileinput-new.thumbnail{
	width:auto !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #80DEEA !important;
}
.dropdown-menu>li>a:focus {
    color: #262626;
    text-decoration: none;
    background-color: #EEEEEE !important;
}
.dropdown-menu li > a:hover {
    background-color: #80DEEA;
    color: #424242 !important;
    font-weight: 600;
}

.form-md-line-input .bootstrap-select .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    background: inherit!important;
    border: none !important;
    box-shadow: none!important;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
    color: #9E9E9E;
    text-transform: capitalize;
    font-size: 14px;
}
.submit{
	color: #000;  
	background-color: #A2EA92;  
	border-color: #A2EA92;
}
.submit:hover, .submit:focus{
	background-color: #87d875;  
	border-color: #87d875;
}
.dashboard-stat.green-seagreen:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*====================*/
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>.title{
	display:inline-block !important;
	margin-left:5px;
}
.page-sidebar-closed .page-sidebar, .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed{
	width:235px !important;
}
.page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper{
	width: 45px;
	transform: translate(185px, 0px);
	transition-duration: 300ms;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.sidebar-toggler-wrapper{
	width: 45px;
	transform: translate(0px, 0px);
	transition-duration: 300ms;
}
.page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper .sidebar-toggler{
	margin-right: 8px;
}
.page-content-wrapper .page-content{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.3);
    background: #f1f1f1;
    position: relative;	
    transition-duration: 300ms;
    transform: translate(235px, 0px);
	margin:0 235px 0 0 !important;
}
.page-sidebar-closed .page-content-wrapper .page-content{
    transform: translate(45px, 0px);
	margin:0 45px 0 0 !important;	
}

.modal-open.page-sidebar-closed .page-content-wrapper .page-content, .modal-open .page-sidebar-closed .page-content-wrapper .page-content{
    transform: none;
	margin:0 0 0 45px !important;
	transition-duration: inherit;
}
.modal-open .page-content-wrapper .page-content{
    transform: none;
	margin:0 0 0 235px !important;
	transition-duration: inherit;
}



