
@font-face {
    font-family: 'allerlight';
    src: url('fonts/aller_std_lt-webfont.woff2') format('woff2'),
         url('fonts/aller_std_lt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}