
<div class="inbox-header inbox-view-header">
    <h1 class="pull-left">New server for datacenter needed
        <a href="javascript:;"> Inbox </a>
    </h1>
    <div class="pull-right">
        <a href="javascript:;" class="btn btn-icon-only dark btn-outline">
            <i class="fa fa-print"></i>
        </a>
    </div>
</div>
<div class="inbox-view-info">
    <div class="row">
        <div class="col-md-7">
            <img src="../../pages/media/users/avatar1.jpg" class="inbox-author">
            <span class="sbold">Petronas IT </span>
            <span>&#60;support@go.com&#62; </span> to
            <span class="sbold"> me </span> on 08:20PM 29 JAN 2013 </div>
        <div class="col-md-5 inbox-info-btn">
            <div class="btn-group">
                <button data-messageid="23" class="btn green reply-btn">
                    <i class="fa fa-reply"></i> Reply
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;" data-messageid="23" class="reply-btn">
                            <i class="fa fa-reply"></i> Reply </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-arrow-right reply-btn"></i> Forward </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-print"></i> Print </a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-ban"></i> Spam </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-trash-o"></i> Delete </a>
                    </li>
                    <li>
            </div>
        </div>
    </div>
</div>
<div class="inbox-view">
    <p>
        <strong>Lorem ipsum</strong>dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
        ut aliquip ex ea commodo consequat. </p>
    <p> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
        <a href="javascript:;"> iusto odio dignissim </a> qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi
        non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. </p>
    <p> Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. </p>
    <p> Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem
        modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. </p>
</div>
<hr>
<div class="inbox-attached">
    <div class="margin-bottom-15">
        <span>attachments — </span>
        <a href="javascript:;">Download all attachments </a>
        <a href="javascript:;">View all images </a>
    </div>
    <div class="margin-bottom-25">
        <img src="../../pages/media/gallery/image4.jpg">
        <div>
            <strong>image4.jpg</strong>
            <span>173K </span>
            <a href="javascript:;">View </a>
            <a href="javascript:;">Download </a>
        </div>
        <div class="margin-bottom-25">
            <img src="../../pages/media/gallery/image3.jpg">
            <div>
                <strong>IMAG0705.jpg</strong>
                <span>14K </span>
                <a href="javascript:;">View </a>
                <a href="javascript:;">Download </a>
            </div>
        </div>
        <div class="margin-bottom-25">
            <img src="../../pages/media/gallery/image5.jpg">
            <div>
                <strong>test.jpg</strong>
                <span>132K </span>
                <a href="javascript:;">View </a>
                <a href="javascript:;">Download </a>
            </div>
        </div>