@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,500,500i,600,600i,700,700i&display=swap');


body::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5
}
body::-webkit-scrollbar-thumb {
    background-color: rgba(51, 208, 225, .49);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent))
}
#home .btn-sm {
    padding: 5px 10px 4px
}
#chart_table li {
    margin-bottom: 15px;
    font-size: 15px
}
#chart_table li .badge {
    font-size: 15px!important;
    height: 22px;
    padding: 0 8px;
    line-height: 22px
}
.brdr-listss li {
    display: inline-block;
    width: 32%;
    margin: 8px 0
}


.deatils_con{width:85px; float:left; padding-top:1px;}
.praTxt{width:100%; float:left; margin-bottom:1px; font-size:10px; }







.scheduler_default_corner>div:last-child,
.scheduler_default_divider,
.scheduler_default_divider_horizontal,
.scheduler_default_tree_image_no_children {
    display: none
}
.scheduler_default_columnheader_cell {
    display: block!important;
    overflow: visible!important
}
.bok,
.scheduler_default_columnheader_cell_inner {
    text-transform: uppercase;
    font-family: 'exo_2regular';
    color: #626666
}
.scheduler_default_columnheader_cell_inner {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: -5px
}
.bok {
    z-index: 1;
    position: absolute;
    font-size: 22px;
    line-height: 20px;
    font-weight: 700;
    top: 15px;
    left: 37px
}
.scheduler_default_corner {
    color: #fff!important;
    background: #f9f9f9!important;
    height: 61px!important
}
.scheduler_default_timeheadergroup_inner {
    color: #626666!important;
    background: #f6f6f6!important
}
.snap .bok {
    font-size: 16px;
    top: 3px
}
.snap .scheduler_default_columnheader_cell_inner {
    top: -4px
}
.scheduler_default_main>div:first-child,
.scheduler_default_main>div:first-child>div,
.scheduler_default_rowheader_scroll div {
    width: 165px!important;
    box-sizing: border-box;
    height: 100%
}
.scheduler_default_main>div:first-child .scheduler_default_rowheader_inner>div,
.scheduler_default_main>div:first-child .scheduler_default_rowheader_inner>div>div {
    width: auto!important;
    height: 100%;
    box-sizing: border-box;
    padding: 0!important
}
.scheduler_default_tree_image_no_children~div,
.scheduler_default_tree_image_no_children~div div {
    margin: 0!important
}
.scheduler_default_tree_image_no_children~div div {
    overflow: hidden;
    color: #0f0f0f;
    font-weight: 500
}
.scheduler_default_rowheader_scroll .ot-av {
    float: left;
    width: 30%!important;
    background: #f2f2f2
}
.bed span,
.ot-av span {
    display: block;
    text-align: center
}
.ot-av span {
    text-transform: uppercase;
    color: #d8d8d8;
    background: #f5f5f5;
    line-height: 23px
}
.ot-av span.ota.active {
    background: #3cc;
    color: #fff
}
.ot-av span small {
    width: 50%;
    display: inline-block;
    line-height: 22px
}
.ot-av span .ava.active {
    background: #ff4081;
    color: #fff
}
.ot-av span .ac.active {
    background: #8775a7;
    color: #fff
}
.scheduler_default_rowheader_scroll .room-noo {
    float: left;
    text-align: center;
    width: 50%!important;
    font-size: 20px;
    font-family: 'exo_2regular';
    line-height: 26px;
    background: #f2f2f2
}
.scheduler_default_rowheader_scroll .room-noo span {
    font-size: 14px;
    display: block;
    line-height: 19px;
    color: #0f0f0f;
    font-weight: 400
}
.scheduler_default_rowheader_scroll .scheduler_default_rowheader_inner:hover .room-noo,
.scheduler_default_rowheader_scroll .scheduler_default_rowheader_inner:hover .room-noo span {
    color: #607d8b!important
}
.scheduler_default_rowheader_scroll .bed {
    float: left;
    width: 20%!important;
    color: #0f0f0f!important;
    background: #eee
}
.bed span {
    line-height: 24px
}
.scheduler_default_rowheader_inner {
    z-index: 2
}
.scheduler_default_main>div:first-child .scheduler_default_rowheader_inner .scheduler_default_tree_image_collapse,
.scheduler_default_main>div:first-child .scheduler_default_rowheader_inner .scheduler_default_tree_image_expand {
    width: 10px!important
}
.scheduler_default_main>div:first-child .scheduler_default_rowheader_inner>.scheduler_default_tree_image_collapse~div {
    padding: 1px!important
}
.scheduler_default_main>div:nth-child(3) {
    margin-left: 165px!important;
    height: 100%
}
.scheduler_default_cellparent {
    background: #a6a6a6!important;
    -webkit-transition: .7s;
    transition: .5s
}
.scheduler_default_timeheadercol_inner~div {
    background: #2c539e;
    background: -moz-linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    background: -webkit-linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    background: linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e', GradientType=1);
    opacity: .3!important
}
.scheduler_default_timeheadercol_inner~.scheduler_default_timeheader_float {
    background: #ededed!important;
    opacity: 1!important
}
.scheduler_default_matrix_vertical_line {
    width: 0!important
}
.scheduler_default_matrix_horizontal_line {
    height: 0!important
}
.scheduler_default_resourcedivider {
    height: 0!important;
    border-top: 1px outset #f1f1f1
}
.scheduler_default_rowheader>.scheduler_default_crosshair_left {
    background: #2c539e;
    background: -moz-linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    background: -webkit-linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    background: linear-gradient(45deg, #2c539e 0%, #2a9999 49%, #2c539e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e', GradientType=1);
    opacity: 1!important;
    background: #51f7e9;
    background: -moz-linear-gradient(-45deg, #51f7e9 0%, #a9e575 54%, #46f2be 100%);
    background: -webkit-linear-gradient(-45deg, #51f7e9 0%, #a9e575 54%, #46f2be 100%);
    background: linear-gradient(135deg, #51f7e9 0%, #a9e575 54%, #46f2be 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#51f7e9', endColorstr='#46f2be', GradientType=1)
}
.scheduler_default_rowheader>div.scheduler_default_resourcedivider {
    background: 0 0!important
}
.scheduler_default_main {
    overflow: hidden
}
.scheduler_default_timeheadercol_inner,
.scheduler_default_timeheadergroup_inner {
    border: 0!important
}
.aa div div div .scheduler_default_timeheadergroup:nth-child(1) .scheduler_default_timeheadergroup_inner,
.aa div div div .scheduler_default_timeheadergroup:nth-child(2) .scheduler_default_timeheadergroup_inner {
    border-bottom: 2px solid #f1f1f1!important
}
.aa>div {
    border-left: 1px solid #dedede!important
}
.aa .scheduler_default_timeheader_float_inner,
.aa .scheduler_default_timeheadercol_inner,
.aa .scheduler_default_timeheadergroup_inner {
    font-size: 14px;
    line-height: 17px;
    font-family: 'allerlight'
}
.scheduler_default_main {
    border: 0!important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .2)
}
.scheduler_default_event_inner {
    font-size: 12px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .870588);
    border: 0!important
}
.scheduler_default_event_inner span {
    font-size: 10px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, .870588)
}
.scheduler_default_event_inner i.fa-cutlery,
.scheduler_default_event_inner i.fa-minus-circle {
    color: #666;
    font-size: 12px;
    margin-left: 3px
}
.scheduler_default_event>div:nth-child(3) {
    bottom: 5px!important
}
.amcharts-chart-div>a,
.scheduler_default_resourcedivider {
    display: none!important
}
.scheduler_default_cellparent {
    background: #e0e0e0!important
}
.scheduler_default_event {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18)
}
.scheduler_default_event:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .26);
    z-index: 1
}
body>div:nth-child(2) {
    z-index: 2
}
.bubble_default_main {
    width: 250px;
    z-index: 10000
}
.bubble_default_main_inner {
    font-family: 'robotoregular';
    letter-spacing: .5px
}
.bubble_default_main_inner strong {
    color: #2b3643;
    text-transform: uppercase
}
.bubble_default_main_inner strong.nah {
    color: #fd3d00
}
.bubble_default_main_inner i {
    margin-left: 5px
}
.scheduler_default_rowheader_inner:hover div:nth-child(2) div {
    color: #607d8b
}
#dp .scheduler_default_selected .scheduler_default_event_inner {
    background-color: #aaa!important;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent))!important;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent)!important;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    background-size: 20px 20px!important
}
.scheduler_default_matrix_horizontal_line,
.scheduler_default_matrix_vertical_line {
    border-top: 1px outset #dcd9d9;
    border-left: 1px outset #dcd9d9
}
.navigator_default_main {
    border: 1px solid #efefef;
    background-color: #f5f4f5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .22)!important;
    padding: 5px
}
.navigator_default_day,
.navigator_default_dayheader {
    border: 0;
    border-radius: 4px;
    color: #000;
    font-weight: 300!important
}
.navigator_default_day:hover {
    background: #eee
}
.navigator_default_day.navigator_default_select .navigator_default_daybox {
    background: #607d8b;
    opacity: 1
}
.dropdown-menu li>a:hover>[class*=fa-],
.dropdown-menu li>a:hover>[class^=icon-],
.navigator_default_day.navigator_default_select .navigator_default_cell_text,
.page-sidebar .page-sidebar-menu .sub-menu>li>a>i,
.page-sidebar .page-sidebar-menu>li.open>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li.open>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow.open:before,
.page-sidebar .page-sidebar-menu>li:hover>a>.arrow:before,
.page-sidebar .page-sidebar-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu>li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i {
    color: #353b3e
}
.project-img {
    width: 14%;
    float: left
}
.project-img img {
    height: 52px
}
.project-information {
    width: 80%;
    float: right
}
.project-information span {
    display: block;
    font-size: 12px;
    color: #008f6c
}
.cl-in span+span,
.project-information span+span,
[class*=guest-ds-] ul li+li {
    margin-top: 5px
}
.project-information span strong {
    font-weight: 700;
    color: #2b3643
}
.ho-des .list-group-item strong,
.project-information span i {
    color: #2b3643
}
.typeahead__result ul {
    max-height: 350px;
    overflow-y: auto
}
.project-information span.pro-name {
    text-transform: uppercase;
    color: #26a1ab
}
.modal_default_main {
    border: 0!important;
    background-color: transparent!important
}

#extra_service tbody tr td:first-child {
    position: relative
}
#suggesstion-box {
    position: absolute;
    top: 100%;
    left: 8px;
    width: 93%
}
#suggesstion-box ul {
    background: #ebebeb
}
#suggesstion-box ul li {
    padding: 2px 10px;
    cursor: pointer
}
#suggesstion-box ul li:hover {
    background: #e0dddd
}
.bl-allroom .btn-group {
    margin-bottom: 3px
}
.color-wrapper {
    position: relative;
    width: 250px;
    margin: 20px auto
}
.color-wrapper p {
    margin-bottom: 5px
}
.color-picker {
    width: 130px;
    background: #f3f3f3;
    height: 103px;
    padding: 5px;
    border: 5px solid #fff;
    box-shadow: 0 0 3px 1px #ddd;
    position: absolute;
    top: -75px;
    left: 2px;
    z-index: 5
}
.color-holder,
.color-holder2 {
    background: #fff;
    cursor: pointer;
    border: 1px solid #aaa;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 19px;
    top: 20px;
    margin-top: 9px
}
.color-picker .color-item {
    cursor: pointer;
    width: 10px;
    height: 10px;
    list-style-type: none;
    float: left;
    margin: 2px;
    border: 1px solid #ddd
}
.color-picker .color-item:hover {
    border: 1px solid #666;
    opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=8)
}
.form-group.form-md-line-input.help-block.last {
    margin-top: 37px
}
.mass-book td input.form-control {
    padding: 0;
    border: 0;
    background: 0 0
}
.mass-book td input.form-control.gbFocus,
.mass-book td input.form-control:focus,
.mass-book1 tr.ss td input.form-control.gbFocus,
.mass-book1 tr.ss td input.form-control:focus {
    border: 1px solid #999;
    padding: 6px 12px;
    background: #fff;
    min-width: 90px
}
.mass-book1 tr.ss td input.form-control {
    border: 0;
    background: 0 0
}
.pad-s {
    padding-right: 10px
}
.colr {
    float: right;
    margin-top: 5px;
    margin-right: 0
}
.colr ul,
.form-group.form-md-line-input .form-control~label {
    overflow: hidden
}
.colr ul li {
    float: left;
    padding: 5px 10px 7px;
    list-style-type: none;
    font-size: 14px;
    text-align: left
}
.brdr {
    width: 10px;
    height: 10px;
    border: 1px;
    display: inline-block;
    margin-right: 10px
}
label .required {
    color: #e02222;
    font-size: 12px;
    padding-left: 2px
}
.cards-main {
    padding-top: 27px
}
#card+#card {
    margin-top: 25px
}
#card a {
    position: relative;
    padding: 17px;
    text-align: left;
    overflow: visible
}
#card a span {
    display: block
}
#card a i.status {
    position: absolute;
    top: -18%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-radius: 100%;
    text-align: center;
    padding: 0;
    line-height: 30px
}
.red.btn {
    background-color: #ff5f67
}
.red.btn.active,
.red.btn:active,
.red.btn:focus,
.red.btn:hover {
    background-color: #cc4c52
}
#card a:focus i.red.btn,
#card a:hover i.red.btn {
    background-color: #ff5f67
}
#card a:focus i.green.btn,
#card a:hover i.green.btn {
    background-color: #1f897f
}
#card a i.red.status:before {
    animation: blinker 1s linear infinite
}
.green.btn {
    color: #fff;
    background-color: #7d508d
}
.green.btn.active,
.green.btn:active,
.green.btn:focus,
.green.btn:hover {
    background-color: #6a4178
}
.green.btn.active:hover,
.green.btn:active:hover {
    background-color: #6a4178
}
.blue.btn {
    color: #fff;
    background-color: #3ea088
}
.blue.btn.active,
.blue.btn:active,
.blue.btn:focus,
.blue.btn:hover {
    background-color: #378f79
}
.blue.btn.active:hover,
.blue.btn:active:hover {
    background-color: #378f79
}
.btn-warning,
.label-warning {
    background-color: #ff6e43
}
@keyframes blinker {
    50% {
        opacity: 0
    }
}
#card a .list-unstyled {
    margin: 0;
    padding: 0 15px 0 0
}
#card a .list-unstyled li,
#package_details th,
.fixTable.table td,
.fixTable.table th,
.nav-justified>li {
    text-align: center
}
#card a span.pull-right {
    position: relative;
    z-index: 2
}
#checkin>button.btn {
    margin-bottom: 15px
}
#checkin .btn+.btn {
    margin-left: 0
}
.btn-oii {
    background: #33d0e1;
    color: #fff
}
.btn-oii:hover {
    background: #19c2d4;
    color: #fff
}
.grrru {
    background: #e3672f;
    color: #fff
}
.grrru:hover {
    background: #bd4e1c;
    color: #fff
}
.ho-des .list-group-item {
    border: 0;
    color: #F9F9F9
}
.caption h4 a{color: #F9F9F9 !important;}
.ho-des .fa {
    font-size: 12px;
    font-weight: 400
}
.ho-des .list-group {
    margin-bottom: 0;
    border: 1px solid #ddd
}
.ho-des .btn-group-sm .btn {
    margin-bottom: 5px
}
iframe body {
    background: 0 0
}
#totalsss {
    clear: both
}
#totalsss ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden
}
#totalsss ul li {
    width: 50%;
    padding: 8px 0;
    float: left
}
.clint_logo {
    width: 100%;
    text-align: center;
    padding-top: 9px
}
.clint_logo img {
    height: 26px
}
iframe {
    background-color: transparent!important
}
body>div~div,
iframe {
    z-index: 2
}
.keep-deta {
    height: 85px;
    padding-top: 15px
}
@media screen and (max-width: 990px) {
    .keep-deta {
        height: inherit
    }
    .keep-deta [class*=col-md-] {
        float: left
    }
    .keep-deta .col-md-4 {
        width: 33.3333%
    }
    .keep-deta .col-md-8 {
        width: 66.6667%
    }
    .keep-deta .col-md-12 {
        width: 100%
    }
}
.room-no {
    text-align: right;
    font-size: 34px;
    color: #fff;
    line-height: 24px
}
.room-no:hover {
    color: #fff;
    text-decoration: none
}
.room-icon i {
    display: inline-block!important;
    font-size: 20px!important;
    line-height: 22px!important;
    color: #fff
}
#refresh .dashboard-stat,
iframe {
    position: relative
}
.long {
    min-height: 458px
}
.long .nav {
    width: 20%;
    float: left
}
.long .nav>li>a {
    padding: 5px 15px
}
.nav>li>a {
    color: #a9a9a9
}
.long .new-bookarea {
    width: 78%;
    float: right
}
tr.crsr {
    cursor: pointer
}
tr.crsr td,
tr.crsr.collapsed td {
    font-weight: 700;
    text-transform: uppercase
}
tr.crsr td {
    background: #ddd
}
tr.crsr.collapsed td {
    background: 0 0;
    font-size: 12px
}
.mrgn {
    display: none
}
.table>tbody>tr>td.mrgn {
    padding-top: 0;
    padding-bottom: 0
}
.no-marin {
    padding-top: 0!important;
    padding-bottom: 0!important
}
.cl-in span,
.collapse.in {
    display: block
}
p {
    margin: 10px 0 7px
}
.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th {
    border-top: 0;
    background-color: #9b9c9c;
    color: #fff
}
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    border-top: 0
}
.pic img {
    width: 100%;
    height: 100%
}
::-moz-selection {
    color: #003020;
    background: #efff6c
}
::selection {
    color: #003020;
    background: #efff6c
}
.dark-stripe {
    border-left: 3px solid #d3d3d3
}
.pop-edittable td,
div.pop-edittable {
    color: #008f6c
}
.pop-edittable td span,
.pop-edittable>span {
    font-weight: 700;
    color: #2b3643
}
.page-sidebar-menu-closed~.accordion {
    display: none
}
.re-ac,
.re-modi {
    padding-bottom: 2px
}
.re-modi label {
    color: #333;
    padding: 0
}
.re-modi label.active,
.re-modi label:hover {
    color: #1aafd0
}
.re-modi label i.fa {
    font-size: 23px;
    line-height: 28px
}
.re-modi label span {
    line-height: 28px;
    display: inline-block;
    vertical-align: top
}
.re-modi label input {
    visibility: hidden
}
.re-modiss label i.fa {
    font-size: 20px;
    line-height: 28px;
    margin-right: 3px
}
.re-modiss label:nth-child(2) i.fa {
    font-size: 18px
}
.re-ac label {
    line-height: 25px;
    background: #333;
    border: 1px solid #333;
    padding: 0 6px!important;
    color: #fff
}
.re-ac .radio-inline+.radio-inline {
    margin-left: 8px
}
.re-ac label.active,
.re-ac label:hover {
    background: #1aafd0;
    border: 1px solid #1aafd0
}
.i-nr i.fa,
.re-ac label,
.re-ac label i,
.table tbody tr td,
.table thead tr th,
input.form-control,
select.form-control {
    font-size: 12px
}
.table-hover>tbody>tr:hover,
.table-hover>tbody>tr:hover>td {
    background-color: rgba(238, 238, 238, .8)!important;
    color: #000!important
}
tbody td .btn {
    padding: 4px 7px
}
.return_guestinn {
    overflow-y: scroll;
    height: 354px
}
.all-re,
.nav>li>a {
    padding: 10px
}
.form-horizontal .control-label {
    text-align: left
}
#evt .portlet.light>.portlet-title,
#rmt .portlet.light>.portlet-title {
    min-height: 0
}
#evt .portlet.light>.portlet-title>.caption,
#rmt .portlet.light>.portlet-title>.caption {
    padding: 3px 0
}
.all-re {
    border: 1px solid #e1e1e1
}
.all-re .all-retitle {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
    margin-bottom: 10px
}
@media screen and (min-width: 568px) {
    .add-roo .col-md-3 {
        float: none;
        display: inline-block;
        width: 24.5%;
        vertical-align: top;
        margin-bottom: 10px
    }
}
.add-roo .md-checkbox label {
    font-weight: 700
}
#bcid .nav-tabs>li>a {
    background: #829596;
    color: #fff;
    border-color: #829596;
    padding: 6px
}
#bcid .nav-tabs>li.active>a,
#bcid .nav-tabs>li.active>a:focus,
#bcid .nav-tabs>li.active>a:hover {
    background-color: #ff5722;
    border-color: #ff5722;
    color: #fff
}
#bcid .nav-tabs {
    margin: 0;
    border: 0
}
#bcid .tab-content {
    padding: 20px 10px;
    border: 1px solid #e1e1e1
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-family: 'open_sansregular';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto
}
.tooltip.in {
    filter: alpha(opacity=100);
    opacity: 1
}
.btn-warning:focus .tooltip.in {
    filter: alpha(opacity=0);
    opacity: 0
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #000;
    text-align: center;
    background-color: rgba(27, 188, 155, .8);
    border-radius: 4px;
    text-shadow: 1px 1px 1px 1px rgba(255, 255, 255, .8)
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(27, 188, 155, .8)
}
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: rgba(27, 188, 155, .8)
}
.tooltip.top-left .tooltip-arrow {
    right: 5px
}
.tooltip.top-right .tooltip-arrow {
    left: 5px
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: rgba(27, 188, 155, .8)
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: rgba(27, 188, 155, .8)
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(27, 188, 155, .8)
}
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: rgba(27, 188, 155, .8)
}
.tooltip.bottom-left .tooltip-arrow {
    right: 5px
}
.tooltip.bottom-right .tooltip-arrow {
    left: 5px
}
#logo-name {
    position: absolute;
    z-index: -5
}
@media print {
    #logo-name {
        position: relative;
        z-index: 1;
        width: 100%
    }
    #sample_editable_1_wrapper.dataTables_wrapper>.row,
    #sample_editable_2_wrapper.dataTables_wrapper>.row,
    .page-title,
    .table-toolbar {
        display: none
    }
    .portlet.box.blue {
        border: 0
    }
    .portlet.box>.portlet-body {
        padding: 0
    }
    .portlet,
    .table-scrollable {
        margin: 0
    }
}
#pr_div .progress-bar {
    transition: width 2s ease;
    webkit-transition: width 2s ease;
    -o-transition: width 2s ease
}
#pr_div .progress-bar .sr-only {
    color: #fff;
    height: inherit;
    line-height: 14px;
    font-size: 10px;
    clip: inherit;
    top: 0;
    width: auto;
    right: 4px
}
#b-card .form-group {
    margin-bottom: 4px
}
#b-card h4 {
    color: #02ceff
}
.datepicker-dropdown.dropdown-menu {
    background-color: #f5f4f5;
    box-shadow: 5px 5px 5px 1px rgba(102, 102, 102, .2)
}
.datepicker-dropdown:after,
.datepicker-dropdown:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f5f4f5!important;
    border-top: 0;
    position: absolute
}
.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover,
.datepicker tfoot tr th:hover,
.datepicker thead tr:first-child th:hover {
    background: #d2d3d3!important
}
.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-color: #ffc107!important;
    border-color: #ffc107!important;
    color: #000!important
}
.datepicker table tr td.old,
.datepicker table tr td.old:hover {
    background: 0 0!important
}
.form-group.form-md-line-input .form-control~label::after {
    content: '';
    position: absolute;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: .5s ease all!important;
    transition: .5s ease all!important;
    left: -100%!important
}
.page-logo,
.top-menu {
    position: relative;
    z-index: 1
}
.form-control.error {
    border: 1px solid #f3565d
}
.error-val,
label.error {
    position: absolute;
    background: #f3565d;
    font-size: 12px;
    color: #fff;
    padding: 3px 10px;
    z-index: 2;
    margin-top: 5px;
    top: 100%;
    left: 0
}
label.error#booking_type-error {
    top: 22px
}
.error-val:before,
label.error:before {
    content: '';
    display: inline-block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f3565d;
    border-top: 0;
    top: -5px;
    position: absolute
}
.pass-change .input-group .input-group-addon {
    position: absolute;
    top: 0;
    right: 0;
    background: 0 0;
    border: 0;
    border-radius: 0;
    padding: 9px 12px
}
.ba .dropdown-menu li>a>[class*=" fa-"],
.ba .dropdown-menu li>a>[class^=fa-],
.pass-change .input-group .input-group-addon>i {
    color: #fff
}
.pass-change .input-group .input-group-addon.valid-text {
    background: #1caf9a;
    border: 1px solid #e5e5e5
}
.pass-change .input-group .input-group-addon.error-text {
    background: #f3565d;
    border: 1px solid #e5e5e5
}
#bookfilter {
    transition: .3s all
}
.dashboard-stat.blue-madison,
.dashboard-stat.green-haze,
.dashboard-stat.purple-plum,
.dashboard-stat.red-intense {
  /*  background-color: #e6e6e6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18)*/
}
.dashboard-stat.blue-madison .more,
.dashboard-stat.green-haze .more,
.dashboard-stat.purple-plum .more,
.dashboard-stat.red-intense .more {
    color: #fff;
    background-color: #607d8b
}
.dashboard-stat.blue-madison .details .desc,
.dashboard-stat.blue-madison .details .number,
.dashboard-stat.green-haze .details .desc,
.dashboard-stat.green-haze .details .number,
.dashboard-stat.purple-plum .details .desc,
.dashboard-stat.purple-plum .details .number,
.dashboard-stat.red-intense .details .desc,
.dashboard-stat.red-intense .details .number {
    color: #575757
}
.page-sidebar .sidebar-toggler,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-toggler {
    margin: 7px 19px 8px 0
}
.page-header.navbar .page-logo .logo-default {
    margin: 9px 0 0; width: 120px;
}
a {
    color: #616161
}
a:focus,
a:hover {
    text-decoration: none;
    color: #00bcd4
}
body {
    letter-spacing: .05px;
    font-size: 13px;
    overflow-x: hidden; 
}
*,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'robotoregular'
}
.form-group.form-md-line-input {
    margin-bottom: 0
}
.form-group.form-md-line-input .form-control {
    font-size: 14px!important;
    color: #5a5a5a!important;
    border-bottom: 1px solid #bababa
}
.form-group.form-md-line-input .help-block,
.help-pass {
    font-size: 11px
}
.help-pass {
    position: absolute;
    margin: 2px 0 0;
    color: #36c6d3
}
.portlet.box>.portlet-body,
.portlet.light {
    background: #f9f9f9
}
.page-footer {
    background: #e1e1e1;
    z-index: 50;
    position: relative
}
.noClick {
    display: none!important
}
.form-horizontal .form-group.form-md-line-input {
    margin-bottom: 0
}
.uploadss {
    margin-top: 15px
}
.uploadss>label {
    display: block
}
.rating-container .rating-stars {
    font-family: 'FontAwesome'
}
.form .form-actions.right {
    margin-top: 20px;
    padding: 10px 20px
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #d9d8d8!important
}
.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group-vertical>.btn:hover,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:hover {
    z-index: 0
}
textarea {
    resize: none
}
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
    background-color: #eee!important;
    color: #333;
    border-bottom: 1pt solid #999
}
.fixTable.table>thead:first-child>tr:first-child>th,
.fixTable.table>thead>tr th {
    border: 0!important;
    background-color: #dadada!important
}
.fixTable.table>tbody>tr:nth-child(even) td:first-child {
    background-color: #f6f6f6
}
.fixTable.table>tbody>tr:nth-child(odd) td:first-child {
    background: #f9f9f9
}
#cmd .tabs-left.nav-tabs,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li:hover>a,
.pagination>li>a,
.pagination>li>span,
.table-bordered,
.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border: 0
}
.table .table {
    background-color: inherit
}
.portlet.box.blue {
    border: 1px solid #92a6b7;
    border-top: 0
}
.portlet.box.blue>.portlet-title {
    background-color: #ffca08
}
.portlet>.portlet-title>.caption {
    font-size: 20px!important
}
table tr td {
    color: #6a6868
}
table tr:hover td {
    color: #1f1f1f
}
.modal .modal-header {
    border-bottom: 1px solid #efefef;
    background: #00bcd4!important
}
.page-bar {
    margin: -25px -20px 0;
    padding: 8px 20px;
    background: 0 0
}
.page-bar .page-toolbar {
    padding: 3px 0
}
.page-bar .page-breadcrumb {
    padding: 8px 0
}
.portlet {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2)
}
.form-control::-webkit-input-placeholder {
    color: #9e9e9e!important;
    opacity: 1
}
.form-control::-moz-input-placeholder {
    color: #9e9e9e!important;
    opacity: 1
}
.form-control:focus::-webkit-input-placeholder {
    text-indent: -100%
}
.form-control:focus::-moz-input-placeholder {
    text-indent: -100%
}
.highlight {
    position: absolute;
    height: 14px;
    width: 50px;
    top: 56%;
    left: 0;
    pointer-events: none;
    opacity: 1
}
input:focus~.highlight {
    -webkit-animation: inputHighlighter .2s ease;
    -moz-animation: inputHighlighter .2s ease;
    animation: inputHighlighter .2s ease
}
@-webkit-keyframes inputHighlighter {
    0% {
        background: #26a69a
    }
    to {
        width: 0;
        background: 0 0
    }
}
@-moz-keyframes inputHighlighter {
    0% {
        background: #26a69a
    }
    to {
        width: 0;
        background: 0 0
    }
}
@keyframes inputHighlighter {
    0% {
        background: #26a69a
    }
    to {
        width: 0;
        background: 0 0;
        opacity: .5
    }
}
.page-header.navbar {
   background: #fff;
}
.page-header.navbar.header-fixed {
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1)
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: #bfbebe
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li:hover>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
    background: #e9e9e9!important;
    border: 0
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.open>a {
    background: #e9e9e9!important;
    border-left: 3px solid #e27979
}
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li .sub-menu>li:hover>a {
    background: #e9e9e9!important;
    border-left: 2px solid #33d0e1
}
.page-sidebar .page-sidebar-menu .sub-menu li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a {
    padding: 6px 15px 6px 22px;
    border-bottom: solid 1px #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a {
     background: #3f5df7 !important;
     color: #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a i {
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu .sub-menu li>.sub-menu>li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>.sub-menu>li>a {
    padding-left: 40px
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a {
    background: #607d8b!important
}
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a {
    background: #654616
}
.page-sidebar-menu.page-sidebar-menu-closed>li:hover>.sub-menu {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}
.form-horizontal .md-radio-inline {
    margin-bottom: 0
}
.dataTables_filter label,
td.form-group {
    position: relative
}
.dataTables_filter label i {
    position: absolute;
    top: 9px;
    right: 7px;
    color: #c6c6c6
}
.dataTables_filter label input {
    padding: 6px 25px 6px 12px
}
.ba .btn-group {
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}
.ba .btn-group .dropdown-toggle {
    z-index: 3!important
}
.table-scrollable .dataTable td>.btn-group,
.table-scrollable .dataTable th>.btn-group {
    position: static;
    margin-top: 0
}
.ba .btn-group li,
.ba .btn-group ul {
    position: absolute;
    z-index: 0;
    display: block;
    top: 0
}
.ba .btn-group ul {
    left: 0!important;
    right: auto!important;
    margin: 0;
    padding: 0;
    opacity: 1!important;
    float: none!important;
    min-width: auto
}
.ba .btn-group li {
    left: 0;
    -moz-transition-property: all;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -moz-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    -webkit-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    -o-transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275)
}
.ba .btn-group li a {
    box-shadow: none
}
.ba .btn-group.open li a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18)
}
.ba ul .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all).btn-xs {
    padding: 4px 2px 2px
}
.ba .btn-group li:nth-child(1) {
    -moz-transition-delay: .07s;
    -webkit-transition-delay: .07s;
    -o-transition-delay: .07s;
    transition-delay: .07s
}
.ba .btn-group li:nth-child(2) {
    -moz-transition-delay: .14s;
    -webkit-transition-delay: .14s;
    -o-transition-delay: .14s;
    transition-delay: .14s
}
.ba .btn-group li:nth-child(3) {
    -moz-transition-delay: .24s;
    -webkit-transition-delay: .24s;
    -o-transition-delay: .24s;
    transition-delay: .24s
}
.ba .btn-group li:nth-child(4) {
    -moz-transition-delay: .35s;
    -webkit-transition-delay: .35s;
    -o-transition-delay: .35s;
    transition-delay: .35s
}
.ba .btn-group.open li:nth-child(1) {
    top: 0;
    left: -40px
}
.ba .btn-group.open li:nth-child(2) {
    top: 0;
    left: -75px
}
.ba .btn-group.open li:nth-child(3) {
    top: 0;
    left: -110px
}
.ba .btn-group.open li:nth-child(4) {
    top: 0;
    left: -145px
}
.ba.child .btn-group.open li:nth-child(1) {
    top: 0;
    left: 40px
}
.ba.child .btn-group.open li:nth-child(2) {
    top: 0;
    left: 75px
}
.ba.child .btn-group.open li:nth-child(3) {
    top: 0;
    left: 110px
}
.ba.child .btn-group.open li:nth-child(4) {
    top: 0;
    left: 145px
}
.wel-card {
    -webkit-column-count: 3;
    -webkit-column-gap: 30px;
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    column-count: 3;
    column-gap: 30px
}
.wel-card .card {
    display: inline-block;
    margin-bottom: 30px;
    background: #fff;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18);
    width: 100%
}
.card-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 165px
}
.card-header img {
    width: 100%
}
.card .card-header .card-header-details {
    background: rgba(0, 0, 0, .5);
    bottom: 0;
    color: #fff;
    height: 100%;
    position: absolute;
    transition: all .5s ease 0;
    width: 100%;
    padding: 110px 5px 5px
}
.card-header-details span {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-family: 'allerlight'
}
.chd-1 {
    font-size: 20px
}
.chd-2 {
    font-size: 14px
}
.card-inner {
    padding: 10px;
    position: relative
}
.card-action {
    position: absolute;
    right: 10px;
    top: -18px
}
.card-action.ba .btn-group {
    -moz-transform: inherit;
    -webkit-transform: inherit;
    -o-transform: inherit;
    -ms-transform: inherit;
    transform: inherit
}
.card-action .btn-default,
.card-action .btn-default.active,
.card-action .btn-default:active,
.card-action .btn-default:focus,
.card-action .btn-default:hover {
    background: #fff!important;
    box-shadow: rgba(0, 0, 0, .117647) 0 2px 4px, rgba(0, 0, 0, .239216) 0 2px 4px;
    width: 34px;
    height: 34px;
    border-radius: 100%!important;
    -webkit-border-radius: 100%!important;
    padding: 9px 12px!important
}
.card-action .dropdown-menu .btn,
.card-action .dropdown-menu .btn:active,
.card-action .dropdown-menu .btn:focus,
.card-action .dropdown-menu .btn:hover {
    width: 32px;
    height: 32px;
    line-height: 28px;
    border-radius: 100%!important;
    -webkit-border-radius: 100%!important;
    padding: 2px 0!important
}
.card-action.ba .btn-group.open li {
    top: 1px
}
.card-action.ba .btn-group.open li:nth-child(1) {
    left: -36px
}
.card-action.ba .btn-group.open li:nth-child(2) {
    left: -72px
}
.card-inner h4 {
    margin: 20px 0 10px;
    font-family: 'mondabold';
    color: #a52f2f;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.card-innertag {
    padding: 10px
}
.tag-chip,
.tag-chipinn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18)
}
.tag-chip {
    background: #dfdfdf;
    color: #2f2f2f;
    padding: 6px 8px 6px 40px;
    font-size: 12px;
    display: inline-block;
    margin: 3px 5px 3px 0;
    line-height: 22px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    position: relative
}
.tag-chip i,
.tag-chip strong {
    background: #a3a3a3;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top
}
.tag-chip strong {
    margin: 0 5px 0 8px;
    line-height: 22px;
    font-size: 10px
}
.tag-chip i {
    line-height: 22px!important;
    font-size: 11px!important
}
.tag-chipinn {
    height: 35px;
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    overflow: hidden
}
.modal .modal-content .modal-footer {
    background: #f1f1f1
}
.modal .modal-content .modal-title {
    color: #fff
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
    color: #aaa
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle:hover>.username,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle:hover>i {
    color: #d0d0d0
}
.portlet>.portlet-title>.tools {
    display: none
}
a.disabled {
    pointer-events: none
}
.alert {
    border-left: 5px solid #eee;
    text-transform: capitalize;
    letter-spacing: .5px
}
.alert.alert-success {
    background-color: #c8edda;
    border-color: #4caf50;
    color: #000
}
.alert.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442
}
.alert-dismissable .close,
.alert-dismissible .close {
    top: 4px
}
table.table-scrollable {
    border-collapse: inherit
}
.auto-ser {
    display: none;
    z-index: 1200;
    position: absolute;
    top: 80%;
    width: 100%
}
.auto-ser ul {
    max-height: 100px;
    overflow-y: auto
}
.auto-ser ul li {
    font-size: 12px;
    padding: 0
}
.auto-ser ul li:hover {
    cursor: pointer;
    background: #eee
}
.auto-ser ul li a {
    display: block;
    padding: 6px
}
@keyframes flicker {
    0%, to {
        background: 0 0
    }
    50% {
        background: #fff
    }
}
@keyframes neon {
    0%, to {
        text-shadow: none
    }
    50% {
        text-shadow: rgba(255, 255, 255, .8) 0 0 8px
    }
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10
}
.hotel-sign {
    padding: .25em 0;
    position: absolute;
    right: -1.5em;
    width: 1.3em;
    content: " ";
    text-align: center;
    background: #bfbfbf 0 0;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 4px;
    animation: 3s ease 0 normal none infinite running neon;
    top: 2px
}
.hotel-sign span {
    line-height: 1;
    color: #fff
}
.loader {
    padding: .5em;
    width: 5.5em;
    height: 7.9em;
    background: #E4970F;
    background: -moz-linear-gradient(-45deg, #E4970F 0%, #E4970F 38%, #33d0e1 100%);
    background: -webkit-linear-gradient(-45deg, #E4970F 0%, #E4970F 38%, #33d0e1 100%);
    background: linear-gradient(135deg, #E4970F 0%, #E4970F 38%, #33d0e1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#E4970F', endColorstr='#33d0e1', GradientType=1);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}
.loader .window {
    background: #fff;
    width: .5em;
    height: 1em;
    float: left;
    margin: 0 .5em .5em 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    animation: flicker 1s infinite ease
}
.loader .window:nth-of-type(5n) {
    margin: 0 0 .5em
}
.loader .window:nth-child(1) {
    animation-delay: .5s;
    animation-duration: .5s
}
.loader .window:nth-child(2) {
    animation-delay: 1s;
    animation-duration: 1s
}
.loader .window:nth-child(3) {
    animation-delay: 1.5s;
    animation-duration: 1.5s
}
.loader .window:nth-child(4) {
    animation-delay: 2s;
    animation-duration: 2s
}
.loader .window:nth-child(5) {
    animation-delay: 1.25s;
    animation-duration: 1.25s
}
.loader .window:nth-child(6) {
    animation-delay: 1.5s;
    animation-duration: 1.5s
}
.loader .window:nth-child(7) {
    animation-delay: 1.75s;
    animation-duration: 1.75s
}
.loader .window:nth-child(8) {
    animation-delay: 2s;
    animation-duration: 2s
}
.loader .window:nth-child(9) {
    animation-delay: 2.25s;
    animation-duration: 2.25s
}
.loader .window:nth-child(10) {
    animation-delay: 1s;
    animation-duration: 1s
}
.loader .window:nth-child(11) {
    animation-delay: 1.1s;
    animation-duration: 1.1s
}
.loader .window:nth-child(12) {
    animation-delay: 1.2s;
    animation-duration: 1.2s
}
.loader .window:nth-child(13) {
    animation-delay: 1.3s;
    animation-duration: 1.3s
}
.loader .window:nth-child(14) {
    animation-delay: 1.4s;
    animation-duration: 1.4s
}
.loader .window:nth-child(15) {
    animation-delay: 5.5s;
    animation-duration: 7.5s
}
.loader .window:nth-child(16) {
    animation-delay: 1.6s;
    animation-duration: 1.6s
}
.loader .window:nth-child(17) {
    animation-delay: 1.7s;
    animation-duration: 1.7s
}
.loader .window:nth-child(18) {
    animation-delay: 1.8s;
    animation-duration: 1.8s
}
.loader .window:nth-child(19) {
    animation-delay: 1.9s;
    animation-duration: 1.9s
}
.loader .window:nth-child(20) {
    animation-delay: 1.33333s;
    animation-duration: 1.66667s
}
.loader .window:nth-child(21) {
    animation-delay: 1.4s;
    animation-duration: 1.75s
}
.loader .window:nth-child(22) {
    animation-delay: 1.46667s;
    animation-duration: 1.83333s
}
.loader .window:nth-child(23) {
    animation-delay: 1.53333s;
    animation-duration: 1.91667s
}
.loader .window:nth-child(24) {
    animation-delay: 1.6s;
    animation-duration: 2s
}
.loader .window:nth-child(25) {
    animation-delay: 1.66667s;
    animation-duration: 2.08333s
}
.loader .window:nth-child(26) {
    animation-delay: 1.73333s;
    animation-duration: 2.16667s
}
.loader .window:nth-child(27) {
    animation-delay: 1.8s;
    animation-duration: 2.25s
}
.loader .window:nth-child(28) {
    animation-delay: 1.86667s;
    animation-duration: 2.33333s
}
.loader .window:nth-child(29) {
    animation-delay: 1.93333s;
    animation-duration: 2.41667s
}
.loader .window:nth-child(30) {
    animation-delay: 2s;
    animation-duration: 2.5s
}
.loader .door {
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 1em;
    height: 1.5em;
    left: 50%;
    margin-left: -.5em;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px
}
#loader-out {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    z-index: 9;
    top: 0;
    left: 0
}
#gpEdit,
.portlet.light>.portlet-title>.caption {
    position: relative
}
.portlet.light>.portlet-title>.caption {
    text-transform: uppercase
}
.portlet.light>.portlet-title>.caption>i {
    font-size: 20px;
    margin-top: 1px
}
.btn.btn-sm {
    padding: 6px 10px 4px
}
.border-bot {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    color: #1f897f
}
.border-bot i.fa {
    line-height: 25px
}
.modal-open .datepicker {
    z-index: 100010!important
}
.border-bot i.fa,
.ftop .form-group {
    vertical-align: top
}
.newmo span {
    font-size: 13px;
    line-height: 21px
}
.newmo {
    line-height: 15px
}
.newmo span:last-child {
    margin-right: 10px
}
.form-md-line-input .bootstrap-select .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    background: inherit!important;
    border: 0!important;
    box-shadow: none!important;
    padding-left: 0;
    padding-right: 0;
    font-weight: 400;
    color: #9e9e9e;
    text-transform: capitalize;
    font-size: 14px
}
.bootstrap-select .btn:not(.md-skip):not(.bs-select-all):not(.bs-deselect-all) {
    background: inherit!important;
    box-shadow: none!important;
    font-weight: 400;
    color: #404040;
    text-transform: capitalize
}
.bootstrap-select .md-click-circle.md-click-animate {
    display: none
}
.bootstrap-select .dropdown-menu {
    max-height: 200px!important;
    font-size: 11px;
    text-transform: capitalize
}
.bootstrap-select .dropdown-menu li>a {
    padding: 5px 14px;
    text-transform: capitalize;
    font-weight: 600
}
.bootstrap-select .dropdown-menu li>a span {
    text-transform: capitalize
}
.bootstrap-select select.bs-select {
    z-index: -1
}
.form-group.form-md-line-input .form-control.open~.help-block,
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc_disabled:after {
    display: block
}
.form-group.form-md-line-input .form-control.open~label:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #26a69a
}
.fixed .aa {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    height: 100%;
    width: 100%
}
.fixed .aa .sdv {
    position: fixed!important;
    top: 46px!important;
    z-index: 1
}
.subhead {
    border-bottom: 1px solid #008f6c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: #008f6c
}
.nav>li>a:focus,
.nav>li>a:hover,
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover,
.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: inherit
}
.switch {
    padding-top: 3px
}
.cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden
}
.cmn-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
input.cmn-toggle-round+label {
    padding: 2px;
    width: 36px;
    height: 14px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px
}
input.cmn-toggle-round+label:before {
    top: 1px;
    left: 1px
}
input.cmn-toggle-round+label:after,
input.cmn-toggle-round+label:before {
    display: block;
    position: absolute;
    bottom: 1px;
    content: "";
    box-shadow: none
}
input.cmn-toggle-round+label:before {
    right: 1px;
    background-color: #f88;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
    -webkit-transition: background .4s;
    -moz-transition: background .4s;
    -o-transition: background .4s;
    transition: background .4s
}
input.cmn-toggle-round+label:after {
    width: 20px;
    height: 20px;
    top: -3px;
    left: -1px;
    background-color: #cb5a5e;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-transition: margin .4s;
    -moz-transition: margin .4s;
    -o-transition: margin .4s;
    transition: margin .4s
}
input.cmn-toggle-round:checked+label:before {
    background-color: #34d9ca
}
input.cmn-toggle-round:checked+label:after {
    margin-left: 18px;
    background: #26a69a
}
.form-wizard .steps,
.form-wizard .steps>li>a.step,
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background: 0 0
}
.form-wizard .steps>li>a.step {
    display: inline-block
}
.form-wizard .steps>li>a.step .desc {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 8px
}
.form-wizard .steps>li.active>a.step .desc {
    color: #26a69a
}
.form-wizard .steps>li.done>a.step .desc,
.form-wizard .steps>li.done>a.step .desc i {
    color: #ff5722
}
.login .content .form-actions {
    padding-bottom: 0;
    border: 0
}
.input-icon>i {
    margin-top: 14px;
    color: inherit
}
.dropdown-menu.selectpicker li>a:hover {
    background: #00bcd4;
    background: -moz-linear-gradient(-45deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    background: -webkit-linear-gradient(-45deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    background: linear-gradient(135deg, #00bcd4 0%, #00bcd4 39%, #3fd5c0 99%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00bcd4', endColorstr='#3fd5c0', GradientType=1);
    color: #fff!important;
    font-weight: 600
}
.dropdown-menu.selectpicker li.selected>a {
    background-color: #3aada2;
    color: #fff!important;
    font-weight: 600
}
.dropdown-menu.selectpicker li.selected>a>[class*=" fa-"] {
    color: #fff!important
}
.irs-diapason {
    background: #90e57e!important
}
.label-info {
    background-color: #07608f
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    border-bottom: 1px solid #eff2f6!important;
    color: #666
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover {
    border-bottom: 1px solid #b9b5b5!important;
    background-color: rgba(255, 193, 7, .52)!important;
    color: #666
}
.purple.btn {
    color: #fff;
    background-color: #222d59
}
.purple.btn:focus,
.purple.btn:hover {
    color: #fff;
    background-color: #2e3966
}
.icol {
    color: #fff
}
body .fancybox-opened {
    z-index: 10000!important
}
.page-header.navbar.navbar-fixed-top {
    z-index: 11; 

}
.form-group.form-md-line-input .help-block,
.help-pass {
    top: -50%;
}
.tasks-widget .task-list>li>.task-checkbox {
    width: auto
}
.tasks-widget .task-list>li>.task-title {
    color: #666;
    margin-left: 15%
}
.bounce {
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite
}
@keyframes bounce {
    0%, 20%, 50%, 80%, to {
        transform: translateX(0)
    }
    40%,
    60% {
        transform: translateX(-5px)
    }
}
.feeds li .col2 {
    width: auto;
    margin-left: 0
}
.feeds li .col1>.cont>.cont-col2>.desc,
.feeds li .col2>.date {
    color: #666
}
.feeds li .col1>.cont {
    float: none;
    margin: 0
}
.feeds li .col1>.cont>.cont-col2>.desc a {
    float: right
}
.feeds li {
    margin-bottom: 14px
}
.slimScrollBar {
    z-index: 1!important
}
.tasks-widget .task-list>li {
    border-bottom: 1px solid #eaeaea
}
.portlet>.portlet-title>.actions .btn-icon-only.btn-default {
    padding: 4px 7px 2px
}
.cash-draw li.done div,
.help-show:hover .help-block {
    opacity: 1
}
@media only screen and (max-width: 768px) {
    .null {
        width: 100%!important;
        margin-left: 0!important;
        left: 0!important
    }
    .pop-edit .col-xs-4,
    .pop-edit .col-xs-6 {
        width: 100%
    }
    .fixed>div:nth-child(3) .aa>div:nth-child(1) {
        position: absolute!important;
        top: 0!important
    }
}
@media only screen and (max-width: 480px) {
    .clint_logo {
        text-align: left
    }
}
.all-re .portlet-body {
    overflow: hidden
}
.all-re h3,
.all-re p {
    margin: 0;
    line-height: 18px
}
.all-re p {
    color: #fd3d00
}
.all-re h3 {
    font-weight: 700;
    font-size: 12px;
    float: left;
    width: 25%
}
.bc {
    float: left;
    width: 75%;
    margin-bottom: 10px
}
.radio-list>label.checkbox-inline {
    display: inline-block;
    margin-right: 6px
}
td .label {
    display: inline-block
}
td .label+.label {
    margin-top: 10px
}
.blink {
    font-size: 13px;
    color: #ff7f00;
    text-transform: uppercase;
    animation: blur 1.95s ease-out infinite;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff
}
@keyframes blur {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #ffe0bd, 0 0 15px #ffe0bd, 0 5px 10px #ffe0bd, 0 5px 10px #ffe0bd, 0 10px 10px #ffe0bd, 0 10px 10px #ffe0bd, 0 -10px 10px #ffe0bd, 0 -10px 10px #ffe0bd
    }
}
.glow {
    animation: pulse 1s infinite
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #e52828
    }
    50% {
        box-shadow: 0 0 2px 5px transparent
    }
    to {
        box-shadow: 0 0 0 0 transparent
    }
}
.label-flat {
    padding: 4px 6px;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    display: inline-block;
    line-height: 1
}
.blink-green,
.label,
.label-flat {
    text-transform: uppercase
}
.label {
    padding: 4px 6px;
    font-weight: 600;
    font-size: 10px
}
.blink-green {
    font-size: 12px;
    color: #1b803d;
    animation: blurs 1.95s ease-out infinite;
    text-shadow: 0 0 5px #fff, 0 0 7px #fff
}
@keyframes blurs {
    0% {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #7dfe90, 0 0 15px #7dfe90, 0 5px 10px #7dfe90, 0 5px 10px #7dfe90, 0 10px 10px #7dfe90, 0 10px 10px #7dfe90, 0 -10px 10px #7dfe90, 0 -10px 10px #7dfe90
    }
}
.form-heading {
    font-size: 18px;
    font-weight: 500;
    color: #00bcd4
}
.td-icon {
    font-family: Open Sans, sans-serif;
    font-size: 11px;
    padding-left: 6px;
    display: inline-block;
    vertical-align: top
}
.md-checkbox-list .md-checkbox:last-child {
    margin-bottom: 0
}
.portfolio-block {
    background: #f7f7f7;
    margin-bottom: 15px;
    overflow: hidden
}
.portfolio-stat {
    overflow: hidden
}
.portfolio-info {
    float: left;
    color: #616161;
    font-size: 12px;
    padding: 10px 25px;
    margin-bottom: 5px;
    text-transform: uppercase
}
.portfolio-info span {
    color: #16a1f2;
    display: block;
    font-size: 28px;
    line-height: 28px;
    margin-top: 0;
    font-weight: 200;
    text-transform: uppercase
}
body.modal-open,
body.stop-scrolling {
    overflow: hidden!important
}
@media screen and (min-width: 960px) {
    body.modal-open .page-header,
    body.stop-scrolling .page-header {
        padding-right: 10px!important
    }
    body.modal-open .page-content .page-bar,
    body.stop-scrolling .page-content .page-bar {
        padding-right: 30px
    }
    body.modal-open .page-content .innn-inn,
    body.stop-scrolling .page-content .innn-inn {
        padding-right: 10px
    }
}
.page-md .progress {
    text-indent: 0
}
.tt-cursor {
    background-color: #3aada2;
    color: #fff!important;
    font-weight: 600
}
.portlet.box .dataTables_wrapper .dt-buttons,
.portlet.light .dataTables_wrapper .dt-buttons {
    margin-top: 20px
}
.dataTables_filter.form-group {
    margin: 19px 4px 0 0
}
.dataTables_filter input {
    border: 0;
    background: #efefef
}
table.dataTable thead td,
table.dataTable thead th {
    padding-left: 10px
}
.btn.kolagreen {
    color: #fff;
    background-color: #3d4b76
}
.btn.kolagreen:active,
.btn.kolagreen:hover {
    color: #fff;
    background-color: #343f5e
}
.btn.purplene {
    background-color: #8a7590;
    color: #fff;
    border-color: #8a7590
}
.btn.purplene:active,
.btn.purplene:hover {
    background-color: #756477
}
.btn.neongreen,
.btn.pink {
    color: #ff3859;
    font-weight: 700
}
.btn.neongreen {
    background-color: #d9f209;
    color: #000
}
.btn.pink:active,
.btn.pink:hover {
    background-color: #ff3859;
    font-weight: 700;
    color: #fff
}
.btn.neongreen:active,
.btn.neongreen:hover {
    background-color: #95c900;
    font-weight: 700;
    color: #fff
}
.btn.greenLight {
    color: #059c73;
    font-weight: 700
}
.btn.greenLight:active,
.btn.greenLight:hover {
    background-color: #059c73;
    font-weight: 700;
    color: #fff
}
.btn-success {
    color: #fff;
    background-color: #01ace2;
    border-color: #0097c7
}
.btn-success:active,
.btn-success:active:focus,
.btn-success:focus,
.btn-success:hover {
    background-color: #27a78a;
    border-color: #27a78a;
    color: #fff
}
.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover,
.pagination>li>a,
.pagination>li>span {
    background: 0 0
}
.pagination>li>a,
.pagination>li>span {
    padding: 4px 18px
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: #F9F9F9;
    border-color: #F9F9F9
}
.calendar.left {
    width: auto
}
.s-inp {
    border: 0;
    background: 0 0;
    pointer-events: none
}
.btn,
.btn-flat,
.btn-large {
    height: auto
}
.daterangepicker .ranges li.active {
    background: #607d8b!important;
    border: 1px solid #607d8b!important;
    color: #fff
}
.daterangepicker .ranges li:hover {
    background: #607d8b!important
}
.daterangepicker .ranges li.hover,
.daterangepicker .ranges li:hover {
    background: #9e9e9e!important;
    border: 1px solid #9e9e9e!important;
    color: #fff
}
.daterangepicker td.in-range {
    background: rgba(0, 188, 212, .45);
    font-weight: 800;
    border-radius: 0
}
.daterangepicker td.active {
    background-image: none;
    filter: none
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #607d8b;
    border-color: #607d8b;
    color: #fff
}
.daterangepicker .input-mini.active {
    border: 1px solid #009688
}
.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active:hover:hover,
.open .dropdown-toggle.datepicker table tr td.active {
    background-color: #607d8b!important;
    border-color: #607d8b!important;
    color: #fff!important;
    font-weight: 700!important
}
.page-container-bg-solid .page-bar,
.page-content-white .page-bar {
    background-color: #eee
}
.page-content-white .page-content .page-bar {
    border-bottom: 1px solid #e1e1e1
}
.btn.btn-outline.yellow {
    border-color: #02723b;
    color: #02723b;
    background: 0 0
}
table.dataTable.short thead th:after,
table.dataTable.short thead th:before {
    bottom: 20px!important
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #F9F9F9;
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
    color: #000!important
}
.page-sidebar .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    background: #3f5efb;
    border-top-color: transparent;
    color: #fff;
    border-left: 4px solid #284961;
 
}}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
    background: #607d8b;
    color: #fff
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a {
    background: #8cd8d4!important;
    color: #29343a;
    font-weight: 700
}
.page-sidebar .page-sidebar-menu>li.open>a,
.page-sidebar .page-sidebar-menu>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a {
    background: #e0e0e0;
    color: #424242;
    font-weight: 600
}
.portlet.box.grey-cascade>.portlet-title,
.portlet.grey-cascade,
.portlet>.portlet-body.grey-cascade {
    background-color: #607d8b
}
.wizard-nav-list li.active a {
    background-color: #8cd8d4!important;
    color: #29343a!important;
    font-weight: 700
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
    color: #151515
}
.page-sidebar .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow.open:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>.arrow:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i {
    color: #04585d
}
.page-sidebar .page-sidebar-menu .sub-menu>li.active>a>i,
.page-sidebar .page-sidebar-menu .sub-menu>li.open>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.active>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu>li.open>a>i {
    color: #29343a
}
.table>tfoot>tr>td,
.table>tfoot>tr>th {
    padding: 8px
}
.extra_per label {
    width: 8px;
    padding: 0;
    overflow: hidden;
    height: 15px
}
.hideANDseek {
    display: none
}
.profile-nav .fileinput-new.thumbnail {
    width: auto!important
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none
}
.dropdown-menu li>a:hover {
    background-color: #80deea;
    color: #424242!important
}
.submit {
    background-color: #01ace2;
    border-color: #01ace2; color: #fff !important;
}
.submit,
.submit i.fa {
    color: #000
}
.submit:focus,
.submit:hover {
    background-color: #87d875;
    border-color: #87d875
}
.v-bill {
    background-color: #4caf50;
    border-color: #4caf50
}
.v-bill,
.v-bill i.fa {
    color: #fff
}
.v-bill:focus,
.v-bill:hover {
    background-color: #388e3c;
    border-color: #388e3c
}
.v-bill:focus,
.v-bill:focus i.fa,
.v-bill:hover,
.v-bill:hover i.fa {
    color: #fff
}
.dashboard-stat.green-seagreen:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23)
}
.form-group.form-md-line-input>.input-icon>i {
    margin: 7px 2px 12px 10px
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f7f7f7 inset!important
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
    padding-left: 14px
}
.ddlabel {
    line-height: 26px;
    color: #607d8b;
    font-size: 14px;
    padding-left: 5px
}
.ddcommon .ddTitle .ddTitleText img,
.ddlabel {
    display: inline-block;
    vertical-align: top
}
.dd .ddChild {
    border: 0;
    background-color: #fff;
    left: 50%;
    width: 340px;
    top: 36px!important;
    margin-left: -170px;
    height: auto!important
}
.dd .ddChild li.selected .ddlabel {
    color: #26a69a;
    font-weight: 700
}
.dd .ddChild li.hover .ddlabel {
    color: #26a69a
}
.dd .ddChild li .ddlabel {
    width: 60%;
    text-align: left;
    float: right
}
.bootstrap-select .dropdown-menu {
    z-index: 1050!important
}
.form-group,
.link-block h4,
.table-newhover>tbody>tr>td {
    position: relative
}
.smm button span {
    font-size: 12px
}
.smm button span.caret {
    margin-top: -8px!important
}
td .bs-select.smm button {
    padding: 0!important;
    height: 14px;
    line-height: 14px!important
}
.link-block {
    border: 1px solid #bbb;
    text-align: center;
    margin-top: 30px;
    border-radius: 5px
}
.link-block h4 {
    background: #fff;
    padding: 0 5px;
    display: inline-block;
    top: -20px;
    font-size: 15px;
    font-weight: 700
}
.link-blockinn {
    margin-top: -15px;
    padding-bottom: 15px
}
.link-block a {
    color: #000;
    margin-bottom: 10px
}
.link-block a:hover {
    background: #a2ea92
}
.tab-block .row+.row {
    margin-top: 35px
}
.tab-block .row>label {
    margin-bottom: 0;
    font-weight: 700;
    color: #059c73
}
table.dataTable.fixedHeader-floating {
    z-index: 6
}
.maid-name-listeee {
    list-style: none;
    margin: 0;
    padding: 0
}
.maid-name-listeee li {
    overflow: hidden;
    padding: 3px 5px
}
.maid-name-listeee li.mnl-list span {
    float: left;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    line-height: 11px
}
.maid-name-listeee li.mnl-list span:last-child {
    padding-left: 3px;
    width: 40%
}
.maid-name-listeee li.mnl-list span:first-child {
    padding-right: 3px;
    width: 60%
}
.table-newhover>tbody>tr:hover>td:after {
    content: "";
    background: #217ebd;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%
}
.caption,
.caption-subject {
    font-family: 'allerlight'
}
.btn-primary {
    color: #fff;
    background-color: #607d8b!important;
    border-color: #607d8b!important
}
.datatab .dataTables_wrapper {
    margin-top: 55px
}
.pass-view {
    position: absolute;
    right: 0;
    top: 11px
}
.fa-eye-slash:before {
    content: "\f070"
}
.fa-eye:before {
    content: "\f06e"
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #617071!important
}
#cmd>.nav-tabs {
    border-bottom: 1px solid #059c73
}
#cmd>.nav-tabs>li.active>a,
#cmd>.nav-tabs>li.active>a:focus,
#home .nav-tabs>li.active>a,
#home .nav-tabs>li.active>a:focus {
    font-weight: 600;
    cursor: pointer;
    color: #495154;
    background: #eee;
    border: 1px solid #f1f1f1;
    border-bottom-color: #33d0e1
}
#cmd>.nav-tabs>li>a:hover,
#home .nav-tabs>li>a:hover {
    border-color: #e6e6e6
}
#cmd .tabs-left.nav-tabs>li.active>a {
    border: 0;
    border-right: 3px solid #059c73;
    background: #d9dada
}
.tabs-left.nav-tabs>li>a:focus,
.tabs-left.nav-tabs>li>a:hover {
    border: 0;
    border-right: 3px solid #33d0e1;
    background: #d9dada
}
#cmd .tab-content .tab-content {
    background-color: #f6f6f6;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
    padding: 15px
}
.mt-comments .mt-comment:hover {
    background: #fff!important
}
.room-cat+.room-cat {
    margin-top: 20px
}
.room-cat h5,
.room-v {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 1px 2px rgba(0, 0, 0, .18)
}
.room-cat h5 {
    margin: 0;
    background: #a8e7ee;
    padding: 8px
}
.room-v {
    padding: 10px 5px 5px;
    cursor: pointer;
    border-color: #ccc;
    background: #f6f6f6;
    position: relative;
    margin-top: 20px;
    overflow: hidden
}
.bookd {
    opacity: .75;
    background: #f0f8ff
}
.pop-lo img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -47px 0 0 -47px;
    width: 94px;
    height: 94px
}
.room-vstatus {
    height: 4px;
    position: absolute;
    top: 0;
    left: 5px;
    width: 95%
}
.rot-av {
    float: left;
    width: 30%
}
.rot-av span {
    display: block;
    text-align: center;
    color: #d8d8d8
}
.rot-av span small,
.rota {
    padding: 3px 0
}
.rot-av span .rac.active {
    background: #7380c3;
    color: #fff
}
.rot-av span .rava.active {
    background: #396;
    color: #fff
}
.rroom-noo {
    float: left;
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 26px
}
.rroom-noo span {
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #000
}
.rbed {
    float: right;
    width: 20%;
    text-align: center
}
.rbed i.fa {
    font-size: 10px;
    width: 50%;
    float: left
}
.room-v-cl {
    clear: both;
    padding-top: 5px;
    height: 41px
}
.room-v-cl small {
    float: right;
    font-size: 10px;
    line-height: 18px
}
.room-v-cl small+small {
    margin-right: 5px
}
.link-blockinn a,
.room-v-cl dd {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.room-v-cl dd {
    width: 73px;
    line-height: 18px;
    float: left
}
.room-v-cl span {
    display: block;
    color: gray;
    clear: both
}
.emt {
    text-align: center;
    font-size: 20px;
    color: #87d875!important
}
.room-v-cl span.avlaaaa {
    font-size: 25px;
    text-align: center
}
.room-v-cl span i {
    line-height: 18px!important;
    margin-left: 5px
}
.pop-lo {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    top: 0;
    left: 0;
    z-index: 5
}
.link-blockinn a {
    max-width: 94%
}
#arole-block+#arole-block,
.cas-detamain .col-md-12+.col-md-12 {
    margin-top: 15px
}
.cas-deta span {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
    float: left
}
.cas-deta span+span {
    margin-left: 10px
}
.tran-type {
    width: 420px
}
.rot-av span small,
.tran-type li {
    width: 50%;
    float: left
}
.tr-de+.tr-de {
    margin-top: 10px
}
.tr-de span {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px
}
.tr-de a {
    line-height: 18px;
    display: block
}
.tr-de a+a {
    margin-top: 1.5px
}
.tr-de a small.badge {
    margin-right: 5px;
    vertical-align: top
}
.mt-comments .mt-comment .mt-comment-img>img {
    width: 45px;
    height: 45px
}
.dashboard-stat .details .desc,
.dashboard-stat .details .number span {
    font-family: 'allerlight'
}
#quickInfo .portlet-fullscreen .portlet-body {
    height: 80%!important
}
#quickInfo .portlet-fullscreen .scroller,
#quickInfo .portlet-fullscreen .slimScrollDiv {
    height: 100%!important
}
#quickInfo .scroller,
#quickInfo .slimScrollDiv {
    height: 305px!important
}
#quickInfo #portlet_guestrange1 .scroller,
#quickInfo #portlet_guestrange1 .slimScrollDiv {
    height: 249px!important
}
td .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%!important
}
.boking-menu {
    position: absolute;
    top: -61px;
    right:8px;
}
.book-edittype .typeahead__cancel-button {
    right: 3.8em;
    z-index: 3
}
.book-edittype .typeahead__container.loading .typeahead__query:after,
.book-edittype .typeahead__container.loading .typeahead__query:before {
    right: 4em
}
.book-edittype .typeahead__query {
    display: inline-table
}
.boking-menu input#filter_room_no {
    border: 1px solid #e7e7e7;
    background: #fff
}
.boking-menu input#filter_room_no:focus {
    border: 1px solid #b7b7b7
}
.cash-draw li div {
    opacity: .5;
    font-size: 11px!important
}
.form-md-line-input .typeahead__field input {
    height: 34px
}
.tab-pane {
    position: relative
}
.tab-pane>.actions {
    position: absolute;
    right: 10px;
    top: -40px
}
.portlet.light .tab-pane>.actions .btn-icon-only {
    height: 27px;
    width: 27px;
    padding: 3px 7px!important
}
.portlet.light .tab-pane>.actions .btn-icon-only i {
    line-height: 20px;
    font-size: 14px
}
.portlet-body.tabbable-line>.tab-content {
    padding: 0
}
.tabbable-line>.nav-tabs>li>a {
    color: #666
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    font-weight: 600;
    background-color: #c2eff5;
    border: 1px solid #ddd;
    border-bottom-color: rgba(61, 187, 175, .39)
}
#home .tabbable-line>.nav-tabs,
#home .tabbable-line>.nav-tabs>li.active>a,
#home .tabbable-line>.nav-tabs>li.active>a:focus,
.tabbable-line>.nav-tabs>li.active>a,
.tabbable-line>.nav-tabs>li.active>a:focus,
.tabbable-line>.nav-tabs>li.active>a:hover {
    border: 0
}
.borderRadius .shadow,
.ddcommon .shadow {
    box-shadow: 0 2px 6px 0 rgba(136, 136, 136, .3)
}
#new_guest .typeahead__list {
    width: 368px
}
#new_guest .typeahead__list .project-img {
    width: 15%
}
.typeahead__list .project-img .img-responsive {
    height: auto
}
table.dataTable>tbody>tr.child ul.dropdown-menu li {
    padding: 0!important
}
.fileinput-filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80px
}
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 50%;
    margin-top: -7px;
    line-height: 17px;
    width: 15px;
    height: 15px;
    font-size: 15px
}
.form-inline .form-group {
    vertical-align: top
}
[class*=guest-ds-] ul {
    list-style: none;
    padding: 0
}
.guest-vl>div {
    margin-bottom: 30px
}
[class*=guest-ds-] ul li strong {
    width: 90px;
    display: inline-block;
    color: #6f6f6f
}
.guest-Idproof .fileinput,
.guest-image .fileinput {
    position: relative
}
.guest-Idproof .fileinput>div:last-child,
.guest-image .fileinput>div:last-child {
    position: absolute;
    top: 12px;
    left: 12px
}
.guest-image .star-rating .caption,
.optgroup .bs-select li.divider,
td .bs-select~label,
td .bs-select~span {
    display: none
}
.guest-db-top h4,
.guest-ds-bot h5,
.guest-ds-mid h5,
.guest-ds-top h5 {
    font-family: 'mondabold';
    padding-bottom: 10px;
    border-bottom: 1px solid #008f6c;
    color: #008f6c
}
.guest-db-top {
    margin-bottom: 30px;
    font-size: 14px;
    position: relative;
    color: #7c8a88
}
.guest-db-top p i {
    color: #32c5d2
}
.guest-db-top>a {
    position: absolute!important;
    top: 0;
    right: 0;
    z-index: 2
}
.guest-db-top .g-nam {
    font-family: 'allerlight';
    margin-top: 0;
    color: #6ac717
}
.guest-db-top .g-nam i {
    font-size: 14px;
    border: 1px solid #008f6c;
    height: 25px;
    width: 25px;
    text-align: center;
    vertical-align: top;
    line-height: 22px;
    border-radius: 100%;
    color: #008f6c
}
.guest-vl .fileinput {
    display: block
}
.guest-vl .thumbnail {
    width: 100%!important
}
.col-md-3.guest-vl,
.col-md-9.guest-vr {
    width: 21%;
    transition: all .5s ease
}
.col-md-9.guest-vr {
    width: 79%
}
.page-sidebar-closed .col-md-3.guest-vl {
    width: 18%
}
.page-sidebar-closed .col-md-9.guest-vr {
    width: 82%
}
#cmd .parent {
    height: 500px
}
.fixTable {
    width: 1800px!important
}
.fixTable.table thead tr th:first-child {
    z-index: 1
}
.chain-date {
    position: absolute;
    top: -64px;
    right: -23px;
    display: inline-block
}
.chain-date .form-control {
    height: 31px
}
input.btn-color {
    padding: 0!important;
    border: 0!important;
    height: 30px;
    width: 30px
}
#arole-block {
    overflow: hidden;
    border-left: 4px solid #5b9a41;
    background: #f3f3f3;
    padding: 20px 0
}
#arole-block .col-md-12 span.Monda-bold {
    font-size: 15px;
    border-bottom: 1px solid #9f4fa9;
    padding-bottom: 5px;
    font-weight: 700;
    color: #9f4fa9;
    position: relative;
    padding-right: 30px;
    margin-bottom: 10px;
    display: inline-block
}
#arole-block .col-md-12 span.Monda-bold:before {
    width: 0;
    height: 0;
    border-top: 5px solid #9f4fa9;
    content: "";
    display: inline-block;
    position: absolute;
    top: 26px;
    right: 0
}
.input-sm.bs-select .btn,
td .bs-select .btn {
    height: 30px;
    padding: 5px 10px!important
}
td .bs-select {
    height: 30px
}
.optgroup .bs-select .dropdown-header {
    font-weight: 700;
    padding: 6px 10px;
    color: #1d630c;
    background: #9edaa3
}
.optgroup .dropdown-menu.inner {
    max-height: 160px!important
}
#slideout,
#slideout.classic {
    transition-duration: 2s, .5s, .1s;
    transition-timing-function: ease-in-out
}
#slideout {
    position: fixed;
    top: 170px;
    text-align: center;
    width: 600px;
    z-index: 2;
    right: -600px
}
#slideout.classic {
    right: 0
}
.slideout_outer {
    position: relative
}
#slideout .slideout_outer>.btn {
    transform: rotate(-90deg);
    position: absolute;
    left: -31px;
    top: 50%;
    margin: -12px 0 0
}
#slideout_inner {
    background: #f6f6f6;
    padding: 10px;
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .3)
}
#slideout_inner tr td:nth-child(1) {
    font-family: 'allerlight';
    color: #076f06
}
#slideout_inner tr td:nth-child(2) {
    font-family: 'mondabold';
    font-weight: 700
}
#slideout_inner tr td:nth-child(4) {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #126311;
    font-weight: 700
}
.fa-angle-double-up:before {
    content: "\f102"
}
.page-toolbar {
    overflow: hidden
}
.page-toolbar #extra-infohome {
    position: relative;
    height: 0;
    top: -441px;
    overflow: hidden;
    transition: all 1s
}
.page-toolbar #extra-infohome.einfshow {
    top: 0;
    height: 441px
}
.md-checkbox input[type=checkbox]:checked~label>.box {
    transform: scale(1) rotate(-180deg);
    opacity: 1
}
.md-checkbox input[type=checkbox]:checked~label>.check {
    transform: scale(1) rotate(0deg)
}
.md-checkbox label>.check {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border: 0;
    background: #36c6d3
}
.md-checkbox label {
    line-height: 20px
}
/*=================*/

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a>.title {
    display: inline-block!important;
    margin-left: 5px
}
.page-sidebar-closed .page-sidebar,
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed {
    width: 235px!important
}
.page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper {
    width: 225px;
    transition: all 0.5s ease;
}
.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.sidebar-toggler-wrapper {
    width: 45px;
}
.page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper .sidebar-toggler {
    margin-right: 8px
}
.page-content-wrapper .page-content {
    box-shadow: 0 1px 6px 1px rgba(39, 39, 39, 0.3);
	border-top-left-radius: 0;
    background: #EEEEEE !important;
    position: relative;
    margin: 0;
    left: 235px;
    width: 83%;
    transition: all 0.5s ease;
}
.page-container-bg-solid.page-md .page-content .page-bar, .page-content-white.page-md .page-content .page-bar {
	border-top-left-radius: 5px!important;
}

.page-sidebar-closed .page-content-wrapper .page-content {
    margin-left: 0!important;
    left: 45px;
    width: 97%;
    min-height: 1150px !important;
}
#gd_g_id_proof1.disabled input {
    z-index: -1;
}
/*==========================*/

.Roboto-bold {
    font-family: 'robotobold';
}
.Roboto-re {
    font-family: 'robotoregular';
}
.Exo2-bold {
    font-family: 'exo_2bold';
}
.Exo2-re {
    font-family: 'exo_2regular';
}
.OpenSans-bold {
    font-family: 'open_sansbold';
}
.OpenSans-re {
    font-family: 'open_sansregular';
}
.Monda-bold {
    font-family: 'mondabold';
}
.Monda-re {
    font-family: 'mondaregular';
}
.aller {
    font-family: 'allerlight';
}
.disableClick{
    pointer-events: none;
	color: #BFBFBF !important;
}


.page-toolbar .btn-sm{background: #fff !important; box-shadow:none !important; 
    font-size: 16px !important;}
.page-toolbar .btn-sm i{color: #284961 !important;}
.page-toolbar .btn-sm i:hover{color: #FFCA08 !important;}
.page-toolbar #weather{background:#FFCA08 !important;}
.details .number{color: #fff !important;}
.details .desc{ color: #fff !important; }
.details .desc i{color: #fff !important;}
.page-sidebar{background: rgb(238, 238, 238) !important;}

.btn.grey-cascade:not(.btn-outline){background: #ff4081 !important; border: 1px solid #ff4081 !important;}

#home .nav-tabs{ background: #e7e7e7 !important; }
.btn-group .pink{ background: #d9d9d9 !important; border: 1px solid #cccccc !important;
color: #284961 !important; }

.boking-menu .pink {background: #E4970F!important; color: #fff !important;}

#cmd > .nav-tabs > li.active > a, #cmd > .nav-tabs > li.active > a:focus, #home .nav-tabs > li.active > a, #home .nav-tabs > li.active > a:focus{
    background: #01ace2 !important; border-bottom-color: #01ace2 !important;
    color: #fff !important;
}

.scheduler_default_rowheader_scroll .scheduler_default_rowheader .scheduler_default_rowheader_inner
{background: #E4970F !important}


.room-noo{background: #fff !important; }

.modal_default_background{z-index: 500 !important;}
.modal_default_main{z-index: 600 !important;}
.btn.green-meadow:not(.btn-outline){ background: #F9F9F9 !important; border-color: #F9F9F9 !important; }

.modal_default_main iframe{background: transparent !important;}
/*.portlet{  background: #F9F9F9 !important; border: 1px solid #F9F9F9 !important; }*/


.scroll-to-top{width: 40px; height: 40px; background:rgba(255, 179, 8, 0.6); bottom: 32px !important;}
.scroll-to-top > i{font-size: 24px !important; color: #fff !important; 
    opacity: 1 !important; margin-top: 10px !important;}

    #b-card .col-md-6 label:nth-child(2){ color: #0794fc !important; }
    #b-card h4{ color: #01ace2 !important; }
    .tabbable-line > .nav-tabs > li.active{ border-bottom: 4px solid #F9F9F9 !important; }

.btn.green:not(.btn-outline){ background: #46ad44 !important; border-color: #F9F9F9 !important; }

.btn.btn-outline.green{ border-color: #02ade2 !important; color: #02ade2 !important; }
.btn.btn-outline.green:hover{ background: #01ace2 !important; color: #fff !important; }




.left-login {
     background-color: #fff;
     padding: 0;
     height: 100vh;
}

.login .left-login .logo {
    margin: 0 auto;
}

.login .left-login .content {
    background-color: #fff;
    box-shadow: none;
}

.left-login .form-group.form-md-line-input>.input-icon>i {
    color: #999;
}


.left-login .form-group.form-md-line-input {
    font-family: 'Lora', serif;
}

.login .left-login .content .form-actions .btn {
     background: linear-gradient(to right, #33ccff 0%, #247ebd 100%);
     width:100%;
     margin-bottom: 20px;
     border:none;
     font-size: 16px;
     border-radius: 30px;
}

.login .left-login .content .form-actions .btn:hover {
     background-color: #09a6eb;
     box-shadow: none;
}

.login .left-login .content .forget-password {
     margin-top: 0;
}

.left-login .form-group.form-md-line-input .form-control {
    padding-left: 0 !important;
}


.login .left-login .content .form-title {
    font-family: 'Lora', serif;
    font-size: 36px;
    color: #222;
    font-weight: 600 !important;
}

.login .copyright {
    color: #666 !important;
}

.login .copyright a {
    color: #09a6eb !important;
}


.right-login {
    padding: 0;
    height: 100vh;
}

.right-login img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page-sidebar .sidebar-toggler {
    background: #3f5efb;
}

 .page-sidebar .page-sidebar-menu>li:hover>a {
    background: #3f5efb;
    color: #fff;
 }

  .page-sidebar .page-sidebar-menu>li:hover>a i {
    color: #fff;
  }

 .page-sidebar .page-sidebar-menu li>a>.arrow:before {
    color: #000;
 }

  .page-sidebar .accordion .panel .panel-title {
     background: #3f5efb;
  }

  .page-sidebar .accordion .panel .panel-title a {
    font-weight: normal;
    color: #fff;
  }

  .page-sidebar .sidebar-toggler:hover {
    background: #000;
  }





/*-- 02-08-2020 --*/


.modal_default_main {
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto;
    background: #fff !important;
}


.portlet.box {
    float: left;
    width: 100%;
}

.portlet.box .portlet-body {
    float: left;
    width: 100%;
}

#checkin {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-between;
}

#checkin>button.btn {
    width: 24%;
    float: left;
    vertical-align: top;
    margin-top: 0;
    padding: 15px 15px;
    border: none;
    box-shadow: none;
    border-radius: 30px;
}

#checkin #tab2, #checkin #tab3, #checkin #tab22 {
    z-index: 9;
    background: rgb(255, 255, 255);
    top: 103%;
    position: absolute;
    width: 100%;
    left: -1px;
    border-right: none;
}


@media only screen and (min-width:240px) and (max-width:767px) {
    .page-header.navbar .menu-toggler.responsive-toggler { display:none;}
    
    .page-sidebar.navbar-collapse.collapse { display: block!important; position: absolute; z-index:9; left:-200px; transition: all .2s; }
    .page-sidebar.navbar-collapse.collapse.mobile_menu { left:0; transition: all .2s;}
    .page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li.sidebar-toggler-wrapper { margin: 0 0 0 auto;}
    .page-sidebar .page-sidebar-menu>li.sidebar-toggler-wrapper .sidebar-toggler { display: block!important;}
    
    .page-sidebar-closed .page-content-wrapper .page-content { width:calc(100% - 45px);}
    
}