* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: Verdana, Geneva, sans-serif;
}
.list-unstyled {
	list-style: none;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: transparent;
	border-color: grey;
	display: table;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	line-height: 1.42857143;
	color: #555555;
}
.td-pad th,  .td-pad td {
	padding: 2px;
}
.fon-big, .fon-big table, .fon-big span {
	font-size: 16px !important;
	color: #000000 !important;
	font-family: Arial, Helvetica, sans-serif !important;
}
.fon-big tr, .fon-big tbody {
	background: none !important;
}
.fon-big hr {
	background-color: #000000 !important;
}
